[2014-11-24 15:52] Snugug opened #12 "Missing %font--sans"
Looks like the `_typography.scss` extends partial didn't make it in to the merged pull request. Please add it in and issue a PR against `develop` to bring it in; branch name `hotfix/typography-extend`

[2014-11-24 16:13] #12 closed, assigned to una

[2014-11-24 21:06] Snugug opened #19 "Is our Modular Scale correct?"
Hey, I just quickly built out our modular scale to see what it would be with the settings we have, it it looks off to me:

http://sassmeister.com/gist/e0ed08d8a96d70d9da4b

`ms(2)` is `31px`, with `ms(0)` (which should be our body copy) is `20px`. Is that intentional? I'm not opposed to it _per se_, but it seems large to my eye.

[2014-11-24 21:13] #19 closed, assigned to una

[2015-01-13 23:17] kevinSuttle opened #36 "Add README"
:)

[2015-01-13 23:18] kevinSuttle opened #37 "Provide rendered examples"
This would be handy.

[2015-01-13 23:45] Snugug commented on #37
Yup, that's on the list, just haven't gotten around to it. It's high in our backlog

[2015-01-14 03:23] kevinSuttle commented on #37
:+1:

[2015-01-16 21:36] mhsenkow opened #41 "Testing the issue system"
WPL-200 #comment corrected indent issue

[2015-01-19 21:50] una opened #42 "Gulp Should Run the Server"
The `gulp` command doesn't run the server -- it will lint and build but doesn't run the `gulp serve` command

[2015-01-19 21:51] Snugug commented on #42
Please open this under https://github.com/IBM-Watson/runner

[2015-01-19 21:51] #42 closed

[2015-01-19 21:53] una opened #43 "Temporary index.html as a Basic Nav List of Patterns"
Presently there is no index.html -- add an index which reads from the current patterns and generates a basic navigable list of them.

[2015-02-27 23:21] #41 closed

[2015-02-27 23:29] Snugug opened #53 "Feature/Blockquote"
Create Blockquote element and style

[2015-02-27 23:30] Snugug opened #54 "Feature/Ordered List"
Styling for ordered list. Must work well inside #55

[2015-02-27 23:30] Snugug opened #55 "Feature/Unordered List"
Styling for ordered list. Must work well inside #54

[2015-02-27 23:31] Snugug opened #56 "Feature/Pre"
Pre formatted text

[2015-02-27 23:31] Snugug opened #57 "Feature/A"
Anchor Tag

[2015-02-27 23:32] Snugug opened #58 "Feature/Code"
Code Tag

[2015-02-27 23:32] Snugug opened #59 "Feature/Strong"
Strong Tag

[2015-02-27 23:32] Snugug opened #60 "Feature/Em"
Emphasis Tag

[2015-02-27 23:34] Snugug opened #61 "Feature/Table"
Table styling and all related table elements

[2015-02-27 23:34] Snugug opened #62 "Feature/Responsive Table"
Responsive table solution for tables

[2015-02-27 23:34] Snugug opened #63 "Feature/Progress"
Progress Bar element

[2015-02-27 23:35] Snugug opened #64 "Feature/Select"
Select box

[2015-02-27 23:36] Snugug opened #65 "Feature/Loading Indicator"
Loading indicator component when we don't know percent done (should use #63 when we do)

[2015-02-27 23:38] Snugug opened #66 "Contributing Guidelines"
Write contributing guidelines

[2015-02-27 23:39] Snugug opened #67 "Pattern Customization Strategy and Code"
- [x] Determine strategy for customizing patterns
- [x] Ensure customization is implemented per-pattern where applicable

[2015-02-27 23:41] Snugug opened #68 "Style Tile for Library"
Determine style tile for design library

[2015-02-27 23:42] Snugug opened #69 "Layout for Pattern Page"
Create layout for pattern pages

[2015-02-27 23:42] Snugug opened #70 "Layout for Language Page"

[2015-02-27 23:43] Snugug opened #71 "Design for Library"
# Pages:

Principles
- [x] Introduction #121
- [x] Design Principles #116

Guidelines
- [x] Color #138
- [x] Typography #139
- [x] Iconography #147
- [x] Accessibility #140
- [x] Grids #146
- [x] Animation #148
- [x] Signature Patterns #149
- [x] Logo #141
- [x] Wordmark #142

UI Patterns
- [x] Elements #163

[2015-02-27 23:44] Snugug opened #72 "Feature/Messaging"
- [ ] Status Message
- [ ] Success Message
- [ ] Warning Message
- [ ] Error Message

Animation in, enhance w/JavaScript to allow dismissing

[2015-02-27 23:49] Snugug opened #73 "Feature/Reset"
We need to define the reset we're going to use

[2015-03-02 16:18] una opened #74 "Design for Navigation of Library"

[2015-03-02 17:23] ryanbrownhill commented on #65
![watson_black_150px](https://cloud.githubusercontent.com/assets/9538395/6446128/66a61d2e-c0ce-11e4-836c-b8236317161d.gif)
@Snugug Shall we just convert this into a svg animation component or shall I design a new one?

[2015-03-02 17:51] Snugug commented on #65
@ryanbrownhill Whichever you'd prefer.

Requirements for this:

- [ ] Single SVG
- [ ] Accessible base that gets across loading if SVGs are not available
- [ ] Less than 14kb minimized
- [ ] Customizable (especially color, but maybe speed too)

We can discuss if it's something to be applied as an inline SVG, an image tag, or as CSS once you've decided which direction to go.

If you decided to conv

[2015-03-02 17:57] una commented on #57
base files set up and ready for styling for this along with other tags, should I do a PR or wait?

[2015-03-02 17:59] Snugug commented on #57
Each feature should get its own PR and should come with styling. All of these are just stubs.

[2015-03-02 18:09] una commented on #57
With all of the input types, there were PRs made without styling -- should I not continue that model?

[2015-03-02 18:11] Snugug commented on #57
These won't be closed until they have styling. Do whatever you think will let us move faster.

[2015-03-02 20:30] una opened #77 "Form Input Types"
Check all of the form input types for correct docs and styling from the Jira list

[2015-03-02 20:39] una opened #78 "Input -- File"
needs styling, remove that its reading from base input

[2015-03-02 21:31] ryanbrownhill commented on #65
@Snugug I will start working on converting the above to an svg animation.
We can discuss our accessibility options - I am under the assumption that we can use meta-tags within the svg?

[2015-03-02 21:37] Snugug commented on #65
Accessibility will depend on how we choose to implement the loader. There are a few resources you can look at though:

* http://www.sitepoint.com/tips-accessible-svg/
* http://www.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/
* http://www.w3.org/TR/SVG-access/

[2015-03-03 15:35] Snugug commented on #70
Needs to be mobile first and responsive. Partner with Robyn to base these on our content models and IA.

[2015-03-03 15:35] Snugug commented on #69
Needs to be mobile first and responsive. Partner with Robyn to base these on our content models and IA.

[2015-03-03 15:59] #57 closed

[2015-03-03 16:15] una commented on #63
Will we need js implemented/architected before tackling this?

[2015-03-03 16:30] Snugug commented on #63
Nope, it's an HTML5 element. We can style it w/o needing JavaScript to update the values and we can provide styled support for [a fallback](https://css-tricks.com/html5-progress-element/) when the progress element isn't available. It'd be nice to provide a simple JS API for updating both, but not required for basic styling.

That being said, it's low priority so I'm moving it to the RC1 milestone

[2015-03-03 16:30] #60 closed

[2015-03-03 16:31] #59 closed

[2015-03-03 19:20] #73 closed

[2015-03-03 20:25] Snugug commented on #77
Can we get some checkboxes so we have an idea of how far along we are?

[2015-03-03 20:33] Snugug opened #86 "Determine Name for Design Guide"
We need a name

[2015-03-03 20:33] Snugug opened #87 "Release to Bower"
Blocked by #86

[2015-03-03 20:41] kathrynmcelroy opened #88 "Inventory existing work done on content"
- [x] review content modeling
- [x] review content inventory & audit
- [x] review gap analysis
- [x] follow up with Robyn and Sam for any questions

[2015-03-03 20:42] kathrynmcelroy opened #89 "Understand user flows"
- [x] speak with Robyn about work that's been done
- [x] review Mural.ly board
- [x] create additional user flows (if necessary)

[2015-03-03 20:43] kathrynmcelroy opened #90 "Understand user research"
- [x] read and understand work that's on the Release Blueprints
- [x] ask Robyn if I have any questions

[2015-03-03 20:44] kathrynmcelroy opened #91 "Explore additional precedents"
- [x] go through existing examples of style guides that are in the Release Blueprints
- [x] find additional if necessary

[2015-03-03 20:45] kathrynmcelroy opened #92 "Create initial IA ideas"
- [x] have Robyn talk about work that's been done
- [x] map out existing work done on IA
- [x] create multiple alternative IAs based on user flow and content
- [x] do card sorting with in-studio sponsor users
- [x] explore alternative interactions

[2015-03-03 20:46] kathrynmcelroy opened #93 "Deliver refined IA"
- [x] through card sort and user interviews
- [x] and other methods

[2015-03-03 20:50] Snugug commented on #91
Is this its own task or is this something you'll be doing in association with #92?

[2015-03-03 20:52] kathrynmcelroy commented on #91
I guess it could be added to 92, I just have it separate in my to do list.

[2015-03-03 20:56] Snugug commented on #91
If you think it's a separate task and not a sub-task of one of your other tasks, I can label it up, but if you think it's a sub-task, we can close it and add the items to the parent task

[2015-03-03 21:09] britanyponvelle commented on #68
[  ] Get existing style tile work from Jeri
[  ] Determine necessary  elements for style tile
[  ] Test chosen color palettes from color workshop
[ x ] Explore other style tile examples

[2015-03-03 21:15] britanyponvelle commented on #74
[  ] Work with Robyn and Kathryn on IA to determine appropriate navigation style
[  ] Explore color options for navigation
[  ] Check accessibility standards

[2015-03-03 21:23] kathrynmcelroy commented on #91
I'd like to keep it as separate. 92 is more about exploring/ideation, this is still about understanding/research.

[2015-03-03 21:40] bobbinrobyn opened #94 "Color palettes for user testing"
- [x] Digitize with hex values
- [x] Compare to IBM Design colors
- [x] Check accessibility for each color
- [x] Determine 10 tints & shades for each color with numerical label (e.g. Green 10, Green 20, etc)

[2015-03-03 21:55] Snugug commented on #58
Closed with #82

[2015-03-03 21:55] #58 closed

[2015-03-03 22:04] britanyponvelle opened #95 "Color Palette Recommendations"
- [x] Choose a color system based on refined color palettes
- [x] Write recommendations for choosing colors
- [x] Get feedback from Watson team
- [ ] Get feedback from Studio team
- [ ] Add to branch
- [ ] Submit pull request

[2015-03-03 22:05] Snugug commented on #95
Blocked on #94

[2015-03-03 22:15] Snugug commented on #91
Done

[2015-03-03 22:21] ryanbrownhill commented on #65
- [] Setup SVG for animation

[2015-03-03 22:23] britanyponvelle commented on #68
@Snugug can you label this "visual"?

[2015-03-03 22:24] britanyponvelle commented on #74
@Snugug can you label this "visual"?

[2015-03-03 22:25] britanyponvelle commented on #71
@Snugug can you label this "visual"?

[2015-03-03 22:26] ryanbrownhill commented on #65
- [ ] Export New SVG for Watson Logo (Current one isn't suitable as the strokes are outlined and which doesn't allow for animate along path.
- [ ] Setup SVG for Animation (Organizing the SVG file so ready for animation)
- [ ] Animate Watson Logo SVG
- [ ] Add Scaling Animation to logo
- [ ] Add additional exterior stroke & circle animation
- [ ] Research CSS or SVG Masking for for the resolve

[2015-03-03 22:27] britanyponvelle commented on #71
- [ ] Use style tiles and wireframes from Kathryn and Roybn to create mockup

[2015-03-03 22:27] bobbinrobyn commented on #94
You can see my progress here: http://pages.design.ibm.com/rlhammon/watson-color-palettes/master/palettes_rh.html

[2015-03-03 22:32] britanyponvelle commented on #68
See progress on the style tile here: http://pages.design.ibm.com/jeribowers/wdl-style-tile/master/index.htm

[2015-03-04 00:31] #90 closed

[2015-03-04 16:02] britanyponvelle commented on #68
Here is a overview of the elements I think we'll need in the style tile:
- [ ] Tag
- [ ] in-line code snippet
- [ ] block code snippet
- [ ] link
- [ ] call-out box
- [ ] h1 - h6
- [ ] small meta text
- [ ] body text
- [ ] strong text
- [ ] emphasized text
- [ ] unordered list
- [ ] Primary button
- [ ] Secondary button
- [ ] Tertiary button

![screen shot 2015-03-04 at 9 59 20 am](https://cloud.g

[2015-03-04 16:09] britanyponvelle commented on #68
And here is a closer look at sections:

Headings & Body Text
![screen shot 2015-03-04 at 10 04 15 am](https://cloud.githubusercontent.com/assets/9538528/6487300/fc521552-c255-11e4-9ca3-df7dc9a42a3f.png)

Links, Bullets, code snippets, block quote
![screen shot 2015-03-04 at 10 06 08 am](https://cloud.githubusercontent.com/assets/9538528/6487324/2709dd34-c256-11e4-8163-0d6a11d82fbb.png)

Navigation

[2015-03-04 16:12] Snugug commented on #68
Have we looked at this for accessibility? For instance, the link color is only accessible for text above 18pt font or 14pt if bold.

I'm also a little unsure of the font sizes that are provided. `.33`em is roughly `6px` font size, where as `5.610em` is roughly `90px`. The `pt` sizes are also incorrect; `12pt` == `16px` == `1em` == `100%`. Can you please provide updated font sizes to [reflect font

[2015-03-04 16:20] #89 closed

[2015-03-04 16:27] joshkimmell opened #96 "Color Workshop Blog"
Complete Color workshop presentation to share with Watson Design and then with "the world"

[2015-03-04 16:27] Snugug commented on #68
Another thought; the indentation for lists looks to be very large; thoughts on making it either in-line with the flow of the text coming from it (so the left edge of the bullet/number lines up with the left edge of a paragraph's text) or [hanging the bullets](http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2)?

[2015-03-04 16:35] joshkimmell commented on #68
I'm not a fan of hanging bullets. The point of a list is to differentiate itself from the body of the content. I agree with making the list element (bullet or number) in-line with the rest of the body.

[2015-03-04 16:37] britanyponvelle commented on #68
@Snugug sorry about that, I mistyped "pt". I've updated it now. Does that look right? Agreed on hanging bullets. Doing that now.

[2015-03-04 16:38] Snugug commented on #68
The sizes look much better now.

Do the colors come from the IBM Design colors or from our workshop or both (or neither)?

[2015-03-04 16:42] britanyponvelle commented on #68
@Snugug these are IBM design colors. @bobbinrobyn is working on matching the colors from the color workshop to IBM Design colors, so as she works on that I can test those.

[2015-03-04 16:43] Snugug commented on #68
Awesome, thanks!

Can you include what the colors are?

[2015-03-04 16:58] britanyponvelle commented on #68
Yes, I can definitely do that! I will work on including those today. Also, I was not meaning to replace the existing button styles. How do I find out what the existing style for those are? I wanted to include them on the style tile for color testing.

[2015-03-04 17:39] Snugug commented on #68
Partner with @una so she can show you what we have already.

[2015-03-04 18:42] Snugug commented on #68
@britanyponvelle @bobbinrobyn For lists, do we want text for the 2nd line of a list to wrap under the bullet or be flush with the start of the line of text?

![List item position inside](https://cloud.githubusercontent.com/assets/377188/6490423/333cbd4c-c274-11e4-92b8-812dd2afaa6f.png)

![List item position outside](https://cloud.githubusercontent.com/assets/377188/6490429/3977e8da-c274-11e4-9925-

[2015-03-04 18:44] Snugug commented on #68
And for ordered lists, do we want numbers, numbers with leading zeros, roman numerals, alphas? What [style](https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type)

[2015-03-04 19:55] britanyponvelle commented on #68
@Snugug I think text for bullets should be flush at the start of the next line of text. It's less distracting and easier to make out individual points.

For ordered lists, I prefer numbers without zeros in case there are any long lists. Roman numerals aren't as common, and leading with zero doesn't really add anything beneficial.  Thoughts?

[2015-03-04 20:40] #91 closed

[2015-03-04 20:42] kathrynmcelroy commented on #93
- [ ] test IA sketches with different methods

[2015-03-04 21:39] britanyponvelle commented on #68
@Snugug @joshkimmell For Beta 1, what kind of deliverable did you have in mind specifically?

[2015-03-04 21:49] britanyponvelle commented on #74
@kathrynmcelroy @joshkimmell  #93 is due at the same time (end of Beta 2). Can we get together and determine how we will work along side each other, since this issue and #71 should be using the IA you are working on.

[2015-03-04 22:16] britanyponvelle opened #98 "Determine Visual Guidelines"
- [x] Interview Watson visual designers to find their pain points
- [x] Synthesize feedback from interviews
- [x]  Determine which guidelines to include
- [x]  Write visual guidelines
- [x]  Prototype concepts for visual examples
- [x]  Get feedback

[2015-03-04 22:23] britanyponvelle commented on #68
Updated: lists, unordered lists, Electricity color palette (using IBM Design colors)
![screen shot 2015-03-04 at 4 18 56 pm](https://cloud.githubusercontent.com/assets/9538528/6494869/87695978-c28a-11e4-9086-09ccef12228b.png)

[2015-03-04 22:36] Snugug commented on #68
Liking how this is coming together. I'm going to update the the list PR with the new direction.

The link color here is much better than it previously was and now passes AA accessibility for any size text. You can check accessibility [here](http://leaverou.github.io/contrast-ratio/). The blockquote text color only passes AA accessibility standards for text size `18pt` (not `px`) or higher, or `14p

[2015-03-04 22:39] Snugug commented on #68
I'm also curious: are you building these style tiles to test different color palettes, or are we narrowing down which palette we're going to use for the actual site? If it's the later, that's related to #94 and we're going to need both dark and light palettes.

[2015-03-04 22:50] britanyponvelle commented on #68
@Snugug Ok great! Thanks for the link. To answer your second question, it's a bit of both. Right now we are using it to test color palettes to narrow down which palette we will use for the actual site. The decision for which palette we will be using will be primarily based on user testing @bobbinrobyn is doing.

[2015-03-05 12:32] Snugug commented on #68
@britanyponvelle is it safe to say these are the font sizes for our headers? If so, might I suggest that they'e a little big? 90px for a h1 and 67px for an h2 are kinda huge and are going to overwhelm content around it. Think of what a 90px h1 would look like on a mobile device; it'd take up almost 1/5 of a the screen. To give you a reference, the browser default is 32px.

I assume these sizes wer

[2015-03-05 12:50] Snugug commented on #68
For what it's worth, when I'm working on determining typography, I doit from the view of an article: how would all of these pieces work together in long-form text. This I find provides me with the best overall legibility for the core of my typography, while allowing one-offs like callout font sizes to live on their own. Something to consider.

[2015-03-05 15:24] #54 closed

[2015-03-05 15:24] #55 closed

[2015-03-05 17:38] Snugug opened #100 "Dynamically Generate Navigation"
Our navigation should be dynamically generated based on our Site Map.

- [ ] Build raw content into rendered content chunks and put in temporary holding based on Site Map
- [ ] Build menu structure based on Site Map
- [ ] Render navigation
- [ ] Render page from rendered navigation plus metadata and put into server

[2015-03-05 17:56] una commented on #53
please link styling in here @britanyponvelle

[2015-03-05 18:26] ryanbrownhill commented on #65
Current Status of the SVG Animation:
![watson-3](https://cloud.githubusercontent.com/assets/9538395/6511432/8011691a-c332-11e4-9a13-aeb1c9dafa31.gif)

What I am currently working on:
- Still figuring out how to move the does to resolve on different locations of the stroke.
- Working on the getting the easing & timing right.
- Adding CSS or SVG masking

[2015-03-05 18:30] Snugug commented on #65
Looking good! I like! Couple questions:

* Is there going to be an out animation or just an in one? The original one you had posted goes in and out, just curious if you plan on the same thing for this.
* Have you thought about the [implementation style](https://github.com/IBM-Watson/patterns/issues/65#issuecomment-76761728) and other things in that comment?

[2015-03-05 18:37] ryanbrownhill commented on #65
@Snugug
- Yes the animate out will be a mask off of the SVG.
- I have I am thinking something like this for the implementation style:  `<object type="image/svg+xml" data="img/WatsonAvatar.svg"></object>` with the maybe a fallback gif within the object?
- For accessibility I will be adding proper `<title>` `<desc>` & `roles=""`

[2015-03-05 18:38] Snugug commented on #65
Cool. Sounds good! I'm excited.

[2015-03-05 18:44] ryanbrownhill commented on #65
@Snugug - I added you to the git lab project so you can see the code as I work. Right now I am writing the CSS inside the SVG file (which is only the Scale right now). I am doing this way because I figured we don't want to add an CSS file dependence to the SVG animation. Is this how I should be doing it?

[2015-03-05 18:45] Snugug commented on #65
That should be good.

[2015-03-05 19:54] poofichu commented on #98
Scheduled meetings with the following people for Friday 3/6:
Jillian Quiller, Nicholas Quinterro, Leslie Shapiro, Angela Swindell, Jeri Bowers, Amanda McMicken, Stephanie Brunner

[2015-03-05 20:40] britanyponvelle commented on #68
Thanks for the references, Sam. I've reworked the typography section a bit. I narrowed the H tags down to support the content in the content model Kathryn and Robyn are working on. The base size is still 1 em, but I incorporated 2 ratios for determine type size: Perfect Fourth and Major Third. Perfect Fourth ratio for desktops and tablets, making H1 about 2.5 the size of the body text for clearer

[2015-03-05 21:02] britanyponvelle commented on #68
Thanks for the references, Sam. I've reworked the typography section a bit. I narrowed the H tags down to support the content in the content model Kathryn and Robyn are working on. The base size is still 1 em, but I incorporated 2 ratios for determine type size: Perfect Fourth and Major Third. Perfect Fourth ratio for desktops and tablets, making H1 about 2.5 the size of the body text for clearer

[2015-03-05 21:46] Snugug commented on #68
Awesome. I did. If you could include the modular scale size that'd be awesome.

As for swapping from one scale to another, phone/tablet/desktop aren't really good descriptors; their sizes vary widely and often overlap with each other. Instead of talking about them in terms of device categories (and in general when we do responsive work), I'd encourage you to throw these into the browser and see wh

[2015-03-05 22:18] britanyponvelle commented on #68
Yes, I can definitely include a scale! And I will work on putting type in the browser tomorrow and change "desktop and phone". I knew that wouldn't fly :) I am new to designing in the browser, but up to the challenge.

Also, I dropped the H4-H6 because I didn't think we would need them for the content we will have on the site. I was thinking we could style them later if we find we need more sizes.

[2015-03-05 22:38] Snugug commented on #68
:stuck_out_tongue_closed_eyes:

Awesome! If you'd like to pair with me tomorrow on that I've got some time.

For the H4-H6, they have semantic meaning even if they won't be used often, so we should include some styling for them. It doesn't need to be much, just enough to have a distinct visual hierarchy (or enough to distinguish them from paragraph text)

[2015-03-05 23:14] britanyponvelle commented on #68
Okay, great! I will shoot you a message tomorrow.

I will work on H4-H6. Also, for the modular scale size, did you have something like this in mind:
![screen shot 2015-03-05 at 5 11 29 pm](https://cloud.githubusercontent.com/assets/9538528/6516836/09c0d13c-c35b-11e4-8348-ce03770df00f.png)

or

![screen shot 2015-03-05 at 5 11 22 pm](https://cloud.githubusercontent.com/assets/9538528/6516849/1a144d

[2015-03-05 23:17] Snugug commented on #68
Actually, much easier than that. If you use the modular scale link that I sent, simply set it to one setting and copy/paste the link here, then set the other one and do the same. That'll provide me with everything I need to know!

[2015-03-05 23:21] britanyponvelle commented on #68
Ah, ok! Here it is: http://www.modularscale.com/?16&px&1.333,1.25&web&text

[2015-03-05 23:25] ryanbrownhill commented on #65
![watson-4](https://cloud.githubusercontent.com/assets/9538395/6516999/77331c06-c35c-11e4-80df-e889f1e0255f.gif)
Update - Refining Timing.
Going to research the masking tomorrow.

[2015-03-05 23:26] Snugug commented on #68
Awesome, thanks!

[2015-03-05 23:59] #100 closed

[2015-03-05 23:59] #43 closed

[2015-03-06 00:41] britanyponvelle commented on #53
![screen shot 2015-03-05 at 6 38 39 pm](https://cloud.githubusercontent.com/assets/9538528/6518031/eed0ead6-c366-11e4-9db9-18d6a4e1e8ce.png)

This is from the style tile. I had it in the base text size (1 em) with emphasized text

[2015-03-06 01:50] britanyponvelle commented on #68
Updated H4-6 tags

![wdl-style-tile-v2-01](https://cloud.githubusercontent.com/assets/9538528/6518781/7c89a6e8-c370-11e4-8d83-b58691ac155d.png)

![wdl-style-tile-typography-03](https://cloud.githubusercontent.com/assets/9538528/6518797/d3c6dcbe-c370-11e4-894a-995e521b2cb9.png)

[2015-03-06 01:52] britanyponvelle commented on #68
Updated H4-6 tags

![wdl-style-tile-v3-01](https://cloud.githubusercontent.com/assets/9538528/6518818/1d81b59a-c371-11e4-9ddb-94b8c817e279.png)

![wdl-style-tile-v3-03](https://cloud.githubusercontent.com/assets/9538528/6518817/1d817e72-c371-11e4-9924-99dcd9259243.png)

[2015-03-06 14:05] joshkimmell commented on #96
I'm putting the finishing touches on this today.

[2015-03-06 14:50] britanyponvelle commented on #98
I was thinking we could use a Mural.ly board for ideating guielines, and Release Blueprints for storing notes from interviews/ writing the guidelines as we refine them in Mural.ly. Thoughts?

Release Blueprints: https://releaseblueprints.ibm.com/display/WDA/Explore%3A+Visual+Guidelines
Mural.ly: http://mrl.li/mronaoxL

@joshkimmell @poofichu

[2015-03-06 14:52] Snugug commented on #98
Personally I'd like as much of this as possible to be on [our public wiki](https://github.com/IBM-Watson/patterns/wiki)

[2015-03-06 20:32] ryanbrownhill commented on #65
![watson-5](https://cloud.githubusercontent.com/assets/9538395/6535817/77d8210e-c40d-11e4-96fb-343093a94d38.gif)
- Got Masking Working!! :+1: :tada:
- Need to work on cross browser issues for animating `stroke-dashoffset` (Mozilla error)

[2015-03-06 20:56] Snugug commented on #65
Awesome! Looks great!

Now I know this is going to sound like a weird question, but have you tested in IE, and if so, what version of IE? Is there a list of some of the advanced SVG features you're using so we know what we need to test for?

[2015-03-06 21:02] britanyponvelle commented on #68
Here is the typography in browser: http://pages.design.ibm.com/blponvel/wdl-typography-test/gh-pages/

Working on updating it to Helvetica Neue (This is regular Helvetica) thanks for the reminder @joshkimmell /doh

[2015-03-06 21:27] Snugug opened #102 "Update Headings Based On Style Tile"
#68 has provided updated styling for our headers.

[2015-03-06 21:56] Snugug commented on #102
`h5`, `h6` - bold
`h4`, `h6` - italic
`h5` - primary color

[2015-03-07 21:38] bobbinrobyn commented on #94
http://pages.design.ibm.com/rlhammon/watson-color-palettes/master/palettes_rh.html

[2015-03-07 21:38] #94 closed

[2015-03-09 15:26] #88 closed

[2015-03-09 15:38] #102 closed

[2015-03-09 15:47] una commented on #66
Also, not just contributing docs, but docs that outline how to navigate through this code base and how we are naming variables, using settings, etc.

We need to avoid linking out to external sources and provide real information within this project that specifically relates to this project. Having a developer go on a chase for information will decrease clarity and increase ramp up time.

[2015-03-09 15:58] una opened #104 "Outline for Wiki Documentation"
What will we include? An outline to build from so we can plan and document as we go

[2015-03-09 16:17] una commented on #104
https://github.com/IBM-Watson/patterns/wiki

[2015-03-09 16:17] una commented on #104
See wiki here: https://github.com/IBM-Watson/patterns/wiki

Feel free to edit

[2015-03-09 16:17] #104 closed

[2015-03-09 16:36] una commented on #98
@britanyponvelle make a new page here https://github.com/IBM-Watson/patterns/wiki when you're ready -- we can iterate on that and have all of your progress be accessible to everyone at all times

[2015-03-09 17:25] poofichu commented on #98
@britanyponvelle we'll use the mural.ly initially, but then can move into the wiki.  I like the visual-ness of mural.ly for initial organization.

[2015-03-09 17:30] poofichu commented on #95
![image](https://cloud.githubusercontent.com/assets/6757613/6560416/de6d23f0-c657-11e4-888d-24e5d3de9e5f.png)
Working on developing a color hierarchy system for the visual guidelines.  How do we like this visual approach?  The lightest grey being the star of the show (backgrounds) followed by most used colors afterwards.

[2015-03-09 18:06] #61 closed

[2015-03-09 19:06] ryanbrownhill commented on #95
@poofichu I like it --- I think it shows proportions of colors nicely.

[2015-03-09 19:21] ryanbrownhill commented on #65
@Snugug haven't tested in an IE - do you know how to do that without access to a PC? Also the SVG features we are using are:

- `<AnimateMotion>`
- `<Animate>`
- `stroke-dashoffset`
-  `stroke-dasharray`

The - `stroke-dashoffset` & `stroke-dasharray` are causing problems in moz. The problem is not that the `stroke-dashoffset` &  `stroke-dasharray` don't work. It is that they don't animate.
Here a

[2015-03-09 19:25] Snugug commented on #65
Snap is 73KB minified; that's too big for me, much happier to do a GIF fallback provided that we can test for those features.

[2015-03-09 19:25] Snugug commented on #65
You can test in IE with either http://www.browserstack.com/ or [Modern.ie](https://www.modern.ie/en-us) virtual machines

[2015-03-09 19:29] Snugug commented on #36
So we have a README now, so I'm going to close this

[2015-03-09 19:29] #36 closed

[2015-03-09 20:06] ryanbrownhill commented on #65
@Snugug What do you mean but testing for those features? - How would I go about checking if we can do that?

[2015-03-09 20:15] Snugug commented on #65
Take a look at [Modernizr](http://modernizr.com/). We're going to need to devise Modernizr style tests for the features we want to use so that we can enhance from our basic loading feature (which will be our `gif`) to the SVG.

[2015-03-09 20:19] #53 closed

[2015-03-09 20:20] kevinSuttle commented on #36
:+1:

[2015-03-09 21:48] #56 closed

[2015-03-10 15:43] una opened #108 "Feature/button"

[2015-03-10 19:13] una opened #111 "Iconography Setup"
Where will we house icons and pull them into designs?

[2015-03-10 19:30] #64 closed

[2015-03-10 19:36] Snugug commented on #77
![screen shot 2015-03-10 at 3 36 26 pm](https://cloud.githubusercontent.com/assets/377188/6583547/482b112e-c73b-11e4-9f96-766886cab6f4.png)

[2015-03-10 19:40] una commented on #77
thanks for fetching that!

image: No longer doing
color, date, datetime-local: done
file: depends on button #109
search: needs icon situation sorted #111

[2015-03-10 19:45] ryanbrownhill commented on #65
Update:
Refactored my code and setup a new gulp file so that I would have SASS styling.... then I realized that all the CSS has to be inline inside the SVG... So I am just using gulp to auto-prefix any new CSS that is written then paste that inline.

Been researching fallbacks & reading up on Modernizr.

My findings:
Tried `<object>` which has its own html fallback mechanism but doesn't seem to wo

[2015-03-10 19:55] Snugug commented on #65
So here's the tricky bit: we aren't going to do browser sniffing because it's not a sustainable practice and it's often (and easily) tricked. Is there a way to to use [`@supports`](http://caniuse.com/#search=supports) to check for CSS animations? Provide a basic animation if advanced CSS animations aren't available, more advanced ones if they are. Layered levels of animation based on levels of sup

[2015-03-10 20:05] ryanbrownhill commented on #65
@Snugug Hmmm okeys. I will look into `@supports`. Another tricky part is that there is two types of animation:
1. The SVG animations with `<animate>` & `<animateMotion>`
2. CSS `@keyframes`

[2015-03-10 20:06] Snugug commented on #65
Yup, this'll be a challenge. Maybe @una can help

[2015-03-10 20:29] #92 closed

[2015-03-10 20:53] #108 closed

[2015-03-10 21:27] Snugug opened #113 "feature/search"
Search field. Blocked on #111

[2015-03-10 21:45] ryanbrownhill opened #114 "Add Motion Guidelines to Library Folder in Repo"
- [x] Add Images to img folder
- [x] Add Markdown File.

[2015-03-11 22:45] Snugug commented on #96
Was this completed?

[2015-03-11 22:45] Snugug commented on #68
Was this completed?

[2015-03-11 22:46] Snugug commented on #67
Strategy determined for patterns, but not implemented for Beta 1. Rolling over to Beta 2

[2015-03-11 23:02] Snugug commented on #87
Published to Bower, now each release we make will be automatically released there.

[2015-03-11 23:02] #87 closed

[2015-03-11 23:04] Snugug opened #115 "Fix Bower dependency issue"
For some reason dependencies aren't being installed with Bower. This should be fixed.

[2015-03-11 23:47] britanyponvelle commented on #68
Yep, if everyone is on board with these decisions so far I think we can close it. @joshkimmell @poofichu

I've updated the tile with the newest info (breakpoints and headings)
![wdl-style-tile-v4-01](https://cloud.githubusercontent.com/assets/9538528/6609400/d7c1b1f6-c81e-11e4-9752-b8bdbdf1eef0.png)

[2015-03-12 14:21] britanyponvelle commented on #68
@Snugug Josh gave the ok to close this issue. The elements are there, but we will continue to use the tile to help us iterate the visual design of the site.

[2015-03-12 14:26] britanyponvelle commented on #95
This is great! I like this approach because it is a good representation of balancing primary, secondary, and accent colors with neutral colors to create a focal point. I was wondering why you chose to make a triangle? I took a stab at applying the idea to a golden rectangle which is pretty straightforward. Showing the primary, secondary, and accent color(s) in relation to one another can be an eas

[2015-03-12 14:35] ryanbrownhill commented on #95
@poofichu I love representing hierarchy of color this way. We* think the triangles are unique but the rectangles more understandable. We also believe there should be color hierarchy like this for both light and dark UI.

We* = @britanyponvelle @una @joshkimmell

[2015-03-12 15:00] bobbinrobyn opened #116 "Design principles"
- [x] Write design principles
- [x] User test written principles
- [x] Choose headings/titles for principles
- [x] Prototype concepts for visual examples
- [x] User test visual examples
- [x] Synthesize research & iterate
- [x] Write short description for principles
- [x] Write intro paragraph for principles
- [x] Create final visual assets
- [x] Format text & media for production

[2015-03-12 15:18] bobbinrobyn commented on #116
@Snugug: No rush, but when you get a chance, will you assign this to me?

[2015-03-12 15:20] ryanbrownhill commented on #114
@Snugug Where should I place this markdown file? Shouldn't there be a language folder inside of [library](https://github.com/IBM-Watson/design-library/tree/develop/library)?

[2015-03-12 17:44] Snugug commented on #114
Was working on getting this in this morning, but didn't have internet to push. It'll be there later today as a stand alone folder

[2015-03-12 17:45] Snugug commented on #68
Yup, closing it just means we're done with this work, not that we won't build on it. Closing!

[2015-03-12 17:45] #68 closed

[2015-03-12 19:08] bobbinrobyn commented on #116
This won't all be done by March 24. Should I change the scope or do we want to push it to a later milestone?

[2015-03-12 19:11] Snugug commented on #116
If it doesn't block other work we can push it to RC1 but not further than that

[2015-03-12 19:20] joshkimmell commented on #116
That's fine... It shouldn't block. We need to have a formal review with Brad, though.

[2015-03-12 19:55] britanyponvelle commented on #68
Iteration update:
- Added secondary colors using lighter tints to brighten up the palette
- moved orange 30 to the secondary palette, and orange 50 to primary so it can be integrated easier
- experimenting with buttons
- took line numbers out of code snippets and added a stronger weight

![wdl-style-tile-v5-04](https://cloud.githubusercontent.com/assets/9538528/6626835/c709861e-c8c7-11e4-8811-b1ae

[2015-03-12 21:05] poofichu opened #117 "Add .bowerrc"
Make sure we've got the right .bowerrc in place.

[2015-03-12 21:28] #117 closed

[2015-03-12 21:33] Snugug commented on #115
Wasn't broken, just installing an old version. Removed outdated tag.

[2015-03-12 21:33] #115 closed

[2015-03-12 22:05] ryanbrownhill commented on #65
Figured out the looping within SMIL I have created two versions.

1. Animates and loops the entire animation (Like the original gif above).
![watson-6](https://cloud.githubusercontent.com/assets/9538395/6629029/dc43e19e-c8d8-11e4-9661-a0ec8e9a266e.gif)

2. Animates the graphic on and loops a progress circle
![watson-7](https://cloud.githubusercontent.com/assets/9538395/6629030/dc4534b8-c8d8-11e4-9

[2015-03-13 02:05] Snugug commented on #65
To me the key difference between a loading indicator and a progress bar is that a progress bar shows % complete whereas a loading indicator is more like a waiting indicator where we don't know how much we have to wait.

I like both of them though. I guess the question is how much do we want going on during the waiting? Looping the whole thing will make it appear that much more is happening (cause

[2015-03-18 14:40] britanyponvelle commented on #71
@kathrynmcelroy, can you update @poofichu and I on your timeline for #70 and #69 so we can make a plan to work alongside each other this week? They are a bit of a blocker for this issue (which is also due at Beta 2)

[2015-03-18 14:47] kathrynmcelroy commented on #71
@britanyponvelle I'll update you after my catch-up chat with Josh this morning.

[2015-03-18 15:55] una opened #120 "Typeface Recommendations"
I noticed on the wiki that @britanyponvelle is working on, **Helvetica Neue for IBM** is the default typeface we are promoting (https://github.com/IBM-Watson/design-library/wiki/Visual-Guidelines#helvetica-neue-for-ibm). We need to check in with the usability guidelines for this typeface, and answer the following questions:

**What are the limitations of the typeface? Can we use it online? Print?

[2015-03-18 18:36] joshkimmell opened #121 "Onboarding"
- [x] Watson Intro copy
- [x] Getting Started user flow (if any for v.1.0.0)
- [x] Write lil' blurb for UI Patterns
- [ ] Issue PR to bring it in to the Library

[2015-03-18 18:39] britanyponvelle commented on #120
Since we are in the process of acquiring the rights and licensing for Helvetica Neue for IBM and will provide fall-backs in the guidelines we are currently working on writing in #98, can we close this issue?

[2015-03-18 18:43] una commented on #120
#98 seems to encompass more but we can remove the tick mark for typography in that issue and pull that conversation into here

[2015-03-18 18:54] britanyponvelle commented on #120
Okay that works. @joshkimmell can you move this to "In Progress" when you have a chance?

[2015-03-18 19:02] britanyponvelle commented on #120
@joshkimmell do you have answers to the questions "What are the limitations of the typeface? Who can use it?" Are these things we should write in to the guidelines, or is a disclaimer enough? I'm not sure about this.

[2015-03-18 19:06] britanyponvelle opened #122 "Determine color system"
Use feedback that Robyn is doing in #94 to determine the Watson Color System

[2015-03-18 20:20] kathrynmcelroy commented on #93
Link to the IA research I've been doing and next steps for it: https://releaseblueprints.ibm.com/display/WDA/Updated+Information+Architecture

[2015-03-18 20:46] Snugug commented on #93
Please move this into our [public Wiki here](https://github.com/IBM-Watson/design-library/wiki) from Release Blueprints. If it has confidential information, please anonymize it first. Thanks!

[2015-03-18 20:50] britanyponvelle commented on #98
I've added *first drafts* of visual guidelines, including: Typography, Color, and Iconography. Some of it is recycled from the existing site (typography and iconography) and others are new (Color, Color Choosing System, and examples). Still working with Robyn to choose the actual palette, but this is to get that ball rolling. I am gladly welcoming all feedback on that page as I am not the best wri

[2015-03-18 21:09] kathrynmcelroy commented on #93
![viz-ia_2](https://cloud.githubusercontent.com/assets/5400092/6719508/1191b5f6-cd89-11e4-98fe-27ca9b6b8834.png)
![viz-ia_9](https://cloud.githubusercontent.com/assets/5400092/6719512/14da8e9a-cd89-11e4-986d-d91a924dcbbe.png)
![viz-ia_4](https://cloud.githubusercontent.com/assets/5400092/6719522/202e8ecc-cd89-11e4-9e73-ee3017d551b7.png)
![fed-ia_1](https://cloud.githubusercontent.com/assets/540009

[2015-03-18 22:22] Snugug commented on #93
Question: I see that things are color coded, but I don't see a key for the color coding. Can you provide one?

As for the different IAs, I prefer the **Design/Code/Both** and **Scale and Scope** approaches over the disciplines one, leaning most towards Nick. The one exception to his flow is that we won't be providing a specific grid, but rather guidelines on how to determine layout and layouts for

[2015-03-19 14:14] britanyponvelle commented on #95
First draft:

## Color
Color is a crucial component of our visual vernacular, helping to unify the look and feel of all communications. The IBM core color system comprises a wide spectrum of colors; IBM Watson relies on a defined subset of those colors to establish its unique presence while nodding to the broader IBM agenda.

**Visual example:**
1. list of Watson colors, HEX codes

**Resources:**

[2015-03-19 14:29] kathrynmcelroy commented on #93
Research posted here: https://github.com/IBM-Watson/design-library/wiki/Information-Architecture-for-the-final-site

[2015-03-19 14:47] bobbinrobyn commented on #116
After getting feedback from Brad, I brainstormed a few different ways to write the taglines. I'll pick back up on the visual examples on Friday, after our color decisions are wrapped up.

[2015-03-19 14:55] kathrynmcelroy commented on #93
The color coding was for personal use, so I could more easily see how the organizations differed. Here is the original organization:
![ux-ia_1](https://cloud.githubusercontent.com/assets/5400092/6732642/2400e058-ce1b-11e4-8e30-f9e0762d9390.png)
* Pink is high-level Values
* Blue is Design Principles
* Yellow are the really Watson-centric pieces
* Orange are the in-between Guidelines
* Green are th

[2015-03-19 14:57] britanyponvelle commented on #120
First Draft:

## Typography
Typography is the atomic element of interface design. It sets the visual tone for the Design Language across all manifestations. As a modern, clear and obvious manifestation of our capabilities, our typographic
stack is straightforward and on-brand. Text is largely differentiated by nothing more than size and weight, keeping other properties the same or similar, differe

[2015-03-19 14:59] bobbinrobyn commented on #121
I brainstormed a little bit on the copy! https://github.com/IBM-Watson/design-library/wiki/Intro-to-WDL

[2015-03-19 15:01] bobbinrobyn commented on #95
Update: I'm user testing today and tomorrow, getting feedback from the larger Watson group tomorrow afternoon, then determining colors by Monday at the latest.

[2015-03-19 15:04] kathrynmcelroy commented on #121
Love it! My only minor idea is to change the second paragraph "provide a coherent brand experience" into "provide a coherent user experiences" because it's more about our products being coherent together than the generalized brand.

[2015-03-19 15:58] britanyponvelle commented on #98
Visual Design guidelines we've identified so far:

- [ ] Typography
- [ ] Typographic Scale
- [ ] Cross-Platform Fontstack Options
- [ ] Color
- [ ] Choosing Your Color Palette
- [ ] Accessibility
- [ ] Iconography

[2015-03-19 16:55] joshkimmell commented on #114
@Ryan Are you writing cognitive-specific guidelines plus a motion guidelines intro?

[2015-03-19 17:04] ryanbrownhill commented on #114
@joshkimmell I am working on a motion guidelines intro. That walks through how to create an animation on brand. As well as how to use the Sass Mixin' that's has been created for the sliding and other transitional animations.

All the guidelines are around interface animation on a basic level. What do you mean when you say cognitive specific?

[2015-03-19 19:15] kathrynmcelroy commented on #93
Images from the mini-workshop. I will be posting the full playback of the workshop to the Wiki later this afternoon.

![img_6011](https://cloud.githubusercontent.com/assets/5400092/6738779/3682be14-ce42-11e4-924d-d6d29e46fec1.jpg)
![img_6012](https://cloud.githubusercontent.com/assets/5400092/6738784/394e226e-ce42-11e4-9e00-64f906e9b919.jpg)
![img_6013](https://cloud.githubusercontent.com/assets/5

[2015-03-19 19:26] kathrynmcelroy opened #123 "Wireframe Design Library"
- [x] Principles
- [x] Guidelines
- [x] UI Patterns

[2015-03-19 19:36] joshkimmell opened #124 "Content Modeling (cont'd)"
Take the spreadsheet previously created and flesh it out.

[2015-03-19 19:38] britanyponvelle opened #125 "Grid Recommendations"
Write recommendations for determining a fluid grid system

[2015-03-19 19:38] britanyponvelle commented on #125
@joshkimmell can you assign this to @poofichu?

[2015-03-19 19:44] kathrynmcelroy commented on #93
![original-idea copy](https://cloud.githubusercontent.com/assets/5400092/6739407/6cc42266-ce46-11e4-8d9f-54f2660c4910.jpg)
![discussion](https://cloud.githubusercontent.com/assets/5400092/6739412/70c65e4c-ce46-11e4-8121-b279e587cace.jpg)
![new-idea](https://cloud.githubusercontent.com/assets/5400092/6739413/72b41afa-ce46-11e4-8a12-b12cee538c28.jpg)

[2015-03-19 19:52] britanyponvelle opened #126 "Accessibility Recommendations for Visual Design"
Write recommendations for addressing accessibility for visual design.

- [x] Get feedback from Watson team
- [x] Get feedback from Studio team
- [ ] Add to branch
- [ ] Submit pull request

[2015-03-19 19:53] britanyponvelle commented on #126
@joshkimmell can you assign me to this issue?

[2015-03-19 19:56] britanyponvelle opened #127 "Iconography Recommendations"
Write recommendations for iconography:

- [ ] How to use icons
- [ ] Where to find IBM Design icons
- [ ] Examples
- [ ] Resources

[2015-03-19 19:57] britanyponvelle commented on #127
@poofichu do you want to be assigned to this one?

[2015-03-19 20:10] britanyponvelle commented on #126
### Accessibility
When choosing colors for desktop experiences, it is important to adhere to the IBM Design Language recommendations for accessibility. Never rely on color as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.

**Resources:**
1. Link to IBM Design accessibility recommendations for color values
2. Link to D

[2015-03-19 20:11] poofichu commented on #125
Going to reference this:
http://pointnorth.io/#grids

[2015-03-19 20:16] britanyponvelle commented on #126
Also, can we move this into "in progress"? @joshkimmell

[2015-03-19 20:21] britanyponvelle commented on #120
@kathrynmcelroy in your feedback you write, "Why is this Watson?" after the disclaimer about the acquisition of Helvetica license. What did you mean by that?

[2015-03-19 20:24] kathrynmcelroy commented on #120
I meant the whole font section, not just the disclaimer. :)

[2015-03-19 20:25] britanyponvelle commented on #120
@kathrynmcelroy ahh ok! Thanks

[2015-03-19 20:37] bobbinrobyn commented on #116
Can we change this to in progress?

[2015-03-19 20:38] bobbinrobyn commented on #95
Can we change this to in progress?

[2015-03-19 20:48] kathrynmcelroy commented on #93
Updated Wiki page with IA Workshop process and results. https://github.com/IBM-Watson/design-library/wiki/Information-Architecture-for-the-final-site

[2015-03-19 21:08] britanyponvelle commented on #120
Draft v2:

## Typography
Typography is the vehicle that delivers content to interfaces. It sets the visual tone for the entire Watson experience. As a modern and clear display of our capabilities, our typographic stack is straightforward and on-brand. Text is largely differentiated by size and weight, keeping other properties the same or similar, differentiating only when necessary for the sake of

[2015-03-19 21:30] britanyponvelle commented on #95
Draft 2:

## Color
Color is a crucial component of our visual vernacular, helping to unify the look and feel of all communications. The IBM Design core color system comprises a wide spectrum of colors; IBM Watson relies on a defined subset of those colors to establish its unique presence while respecting the broader IBM Design guidelines.

**Visual example:**
1. list of Watson colors, HEX codes

*

[2015-03-19 22:23] britanyponvelle commented on #71
#123 is a bit of a blocker. @poofichu and I are going to work along @kathrynmcelroy when she begins to develop the wireframes.

[2015-03-20 14:25] britanyponvelle commented on #74
@kathrynmcelroy @poofichu
[MailChimp](http://ux.mailchimp.com/patterns) has a nice navigation for smaller screens. I don't think the hamburger menu at the top makes sense, but the box/ color indicating  where you are in the site is helpful!
![mailchimp-small](https://cloud.githubusercontent.com/assets/9538528/6753213/6b5a1e5c-cee2-11e4-9ec1-ca1fee29227f.png)
![mailchimp-smalll-drop](https://cloud.

[2015-03-20 14:36] poofichu commented on #120
@joshkimmel @una Are we still including Open Sans as an option in here?  From the research I did, the visual designers weren't so hot about it.

[2015-03-20 14:45] una commented on #120
We need a web font alternative. Open Sans doesn't have to be the one, per se, but it does need to be something web compatible and openly available.

[2015-03-20 14:46] poofichu commented on #120
Dat Arial tho?

[2015-03-20 14:55] britanyponvelle commented on #74
I also like the way [Google Material](http://www.google.com/design/spec/what-is-material/material-properties.html#) does a good job of solving the multiple navigation problem. They have one on the side for high level navigation, and then in-line navigation links for 2nd tier sections

![google-material](https://cloud.githubusercontent.com/assets/9538528/6753870/2eb27300-cee7-11e4-9e15-b056acb3726f

[2015-03-20 15:16] poofichu commented on #127
https://design.ibm.com/icon-library/

[2015-03-20 16:04] poofichu commented on #127
## Iconography
The IBM Design Language offers three types of iconography to address a variety of scenarios in which a visual representation is valuable to the user. Each icon will have assigned concepts it represents.

**Visual Example**
1. Preview of IBM Design Icons

**Resources:**
1. Link to Internal IBM Design Language Icon set (https://design.ibm.com/icon-library/)

### Building Icons
When de

[2015-03-20 19:21] kathrynmcelroy commented on #93
I made a clickable prototype of the initial IA hosted here:
http://pages.design.ibm.com/kemcelroy/watson-design-library-wireframe/master/ui_patterns.html

I will be testing user flows through this in the next few hours and on Monday morning.

[2015-03-20 19:27] kathrynmcelroy commented on #93
![img_6014](https://cloud.githubusercontent.com/assets/5400092/6759322/204b4082-cf0d-11e4-8cb7-98220d0ff35c.jpg)
Initial idea for the responsive navigation - original navigation on the left, and how it will alter for smaller screens on the right

[2015-03-20 19:52] Snugug commented on #127
These are two things I believe we need in our iconography section:

* Open-source link to the Design icon library (or we need to release it or something similar on our own).
* More robust title and descriptions of each icon. The icon pack that I have now the titles don't match in pretty much any way what I was expecting the icon to be for many items
* Gap analysis of the current icons with what ma

[2015-03-20 20:03] Snugug commented on #93
A couple of things to keep in mind when designing responsive navigation, in case you hadn't already:

1. We should do our best not to hide or remove navigation at smaller screen sizes; consistent navigation reduces cognitive load on our users. If we have too many items in our navigation, maybe we re-consider if all of them are needed in general. In fact, it may be a good exercise to not think abou

[2015-03-20 21:39] kathrynmcelroy commented on #93
@Snugug Re: 1 & 2, I would love if you could share some examples of websites with long navigation streams (API documentation, retail websites, etc) that handle this well. I have not found any ideal ones and very few good ones, so if we could share resources that would be really helpful.

And what is 3 referencing?

[2015-03-20 21:45] joshkimmell commented on #86
Hows about "Blue" y'all?

[2015-03-20 21:50] poofichu commented on #127
@Snugug all GOOD points, buddy.

1) Can't no do.  The library is under restrictions.
2) We have to adhere to the IBM design language, so we can't change the title.  Maybe I can look into helping them add better descriptions of said icons?
3) I LOVE this idea, but yeah, it might have to be pushed to after the first release.  I'll add it to my list.

[2015-03-20 21:52] Snugug commented on #93
Number 3 was a general statement when it comes to designing, say, a slide out menu.

As for 1 & 2, there aren't good examples, in fact I'd argue that long navigation streams is an [outdated UX pattern](http://snugug.github.io/Outdated-UX-Patterns/) (press spacebar to get through the splash screen and preloader). Basically, my recommendation from that presentation is *Your Org Structure Is Not Your

[2015-03-20 21:57] Snugug commented on #127
IMO if design assets can't be accessed in an open source manner (or have an approved open source alternative) we can't use them. Our options for iconography can't be "get a license from IBM or you're on your own". If we're going to provide iconography, we need our users to have access to icons. Even Bootstrap was able to provide, for free, a subset of an otherwise proprietary icon set. Can we inve

[2015-03-20 21:59] Snugug commented on #120
Also keep in mind that each weight and style we recommend needs to be downloaded (especially for Helvetica Neue for IBM). If we are recommending 4 weights each with obliques, that's 8 font files, which is about double what we should be limiting ourselves to.

[2015-03-20 22:12] britanyponvelle commented on #95
Update on colors from our meeting today:
@bobbinrobyn

![wdl-color-examples-01](https://cloud.githubusercontent.com/assets/9538528/6761739/29400e5e-cf24-11e4-9e93-bf690f83fc20.png)
![wdl-color-examples-02](https://cloud.githubusercontent.com/assets/9538528/6761740/2940d028-cf24-11e4-9805-ab11bdcf53cc.png)

[2015-03-20 22:43] bradbecker commented on #86
Since it's going to be cognitive components we might end up calling them Cogs

-b

[2015-03-20 23:46] Snugug commented on #86
Blue's too generic (in fact I think anything with Blue will be too generic for Watson specifically, doubly so as we're trying to get away from Blue I thought?).

They aren't all going to be cognitive components, most of them in fact won't be. Most of them will be smaller bits that are needed to make up the UI, with a few more complex ones/combinations being specifically cognitive.

[2015-03-20 23:46] Snugug commented on #95
I swear I've got blue 60 written down somewhere from the color workshop… Maybe it was blue 50…

[2015-03-21 17:08] joshkimmell commented on #86
What about spinning this as literally the face of Watson? Let's brainstorm around that. I think "Cogs" sounds like unimportant pieces of a machine. Not humane or natural at all.

[2015-03-21 17:10] joshkimmell commented on #86
countenance, aspect, bearing, facet

[2015-03-21 17:11] britanyponvelle commented on #120
I understand that they would need to be downloaded as individual font files, but is there another a way of displaying these options? For a project/ product we wouldn't recommend using all 4 of these together (which we can add into the recommendations), but each of these weights are available for use. The reason I was thinking of displaying them this way is because there are other weights of Helvet

[2015-03-21 19:50] Snugug commented on #120
Maybe recommending weight pairs instead of just "these are the weights available"? Like Light/Medium and Regular/Bold? I also highly recommend using the actual font weights (in numbers) either as opposed to their names, or in conjunction with their names.

[2015-03-21 20:43] ryanbrownhill commented on #114
@Snugug How do I submit my files to the repo? Also we need an `images` folder - how do you want that  setup? I tried by creating my own branch and then pushing but I don't have access.

What is the typical workflow so I can contribute? Is there a resource you can point me to that walks me through this?

[2015-03-21 21:25] Snugug commented on #114
You'll want to [fork this project](https://guides.github.com/activities/forking/), then do the branch and apply your updates from there. Once you've pushed the updates to your fork, you'll want to issue a pull request.

[2015-03-22 00:42] britanyponvelle commented on #74
http://www.wearehive.co.uk/

I think the way they handle primary and secondary navigation is successful for small screen sizes. The three primary sections are always top right, and then if you click in to work, each secondary is listed at the top. It pushes the content down a bit, but you know what is available as soon as you click into the section. It also translates to desktop well (although I t

[2015-03-22 02:42] Snugug commented on #74
@britanyponvelle I agree, I like the way they've done that. My only concern with their design is the animation of the height of the nav, which like I said is hard to do (they're actually changing the height `1px` at a time until they reach the height they want). We may want to consider sliding instead of animating height, and if we're going to animate, it should follow #128

[2015-03-22 02:56] Snugug opened #129 "Can we use rounded corners?"
I've been thinking about this a lot recently, and I've got a general question I'm going to throw out there.

I understand that in the Design Language, rounded corners are forbidden in order to make our designs seem more machine-like (this can probably be extended to animations too, but let's stick with rounded corners). But we want Watson to feel [humane](https://github.com/IBM-Watson/design-libra

[2015-03-22 03:04] joshkimmell commented on #129
I'd like to consider it, but now isn't the time. If you want to have that discussion with Adam Cutler, we can have it later in the week. IBM Design is building a brand that eventually all IBM will fall under and they're pretty adamant about the sharp corners.

[2015-03-22 20:43] joshkimmell commented on #95
For the ratio, we need a dark palette ratio, too.

[2015-03-23 14:20] britanyponvelle commented on #95
@joshkimmell I'll add it to the vis To Do list.

Also, question for color recommendations: @bobbinrobyn @poofichu @joshkimmell

If we are making Blue 60 the primary color of Watson, does this also mean the it needs to be the primary color in everyone's palettes? I was under the impression it didn't. In this case, wouldn't the secondary color be more prominent in a product? (for instance, Chef Wats

[2015-03-23 14:38] britanyponvelle commented on #95
Also, I know that we can't use the yellow from cartographer in our palette right now, but perhaps we can use the approve yellow as a substitute for the time being?

![screen shot 2015-03-23 at 9 36 46 am](https://cloud.githubusercontent.com/assets/9538528/6782168/638f0f88-d140-11e4-97e8-b6777df8820e.png)

[2015-03-23 15:24] bobbinrobyn commented on #95
Choosing Your Color Palette

The IBM Watson color system consists of a set of primary colors and secondary colors, with additional **supporting** color values. The colors chosen for IBM Watson are flexible **and** distinguish Watson as a brand across all user experiences. Carefully choose colors that reinforce Watson's personality (link to personality) and set the tone of your product.

Color is a

[2015-03-23 15:36] britanyponvelle commented on #95
How about something like this for choosing palettes?

![screen shot 2015-03-23 at 10 34 42 am](https://cloud.githubusercontent.com/assets/9538528/6783579/76728302-d148-11e4-8f85-4c37fa98e7c6.png)

[2015-03-23 16:29] britanyponvelle commented on #95
Draft 3:

## Color
Color is a crucial component of our visual vernacular, helping to unify the look and feel of all communications. The IBM Design core color system comprises a wide spectrum of colors; IBM Watson relies on a defined subset of those colors to establish its unique presence while respecting the broader IBM Design guidelines.

**Resources:** .ASE File and link to IBM Design colors

##

[2015-03-23 16:39] britanyponvelle commented on #120
From @bobbinrobyn:  When we display our color palette, we will have our own Sass variables for each color. One of the Watson designers asked that we display each Sass variable along with the hex code and visual rendering of the color. I guess I'm just a little confused – isn't the user going to have to define their _own_ Sass variables when they use our colors? So is it helpful to them to see the

[2015-03-23 16:39] britanyponvelle commented on #95
From @bobbinrobyn :  When we display our color palette, we will have our own Sass variables for each color. One of the Watson designers asked that we display each Sass variable along with the hex code and visual rendering of the color. I guess I'm just a little confused – isn't the user going to have to define their _own_ Sass variables when they use our colors? So is it helpful to them to see the

[2015-03-23 16:43] bobbinrobyn commented on #95
Okay, upon further inspection @poofichu found out that IBM Design already has a Sass mix-in for their colors. So we can just use that.

[2015-03-23 16:50] joshkimmell commented on #95
I think users can select multiple accent colors, yes?

[2015-03-23 17:00] bobbinrobyn commented on #95
@britanyponvelle You're doing so well! This looks great. Just reiterating a couple of the things we just talked about – I think the explicit "Choose 1 primary and one secondary" then "Choose 1 accent" is awesome. To @joshkimmell's comment, I think it would be fine if they choose more than 1 accent. But overall, I like the step-by-step nature of this guide.

[2015-03-23 17:00] britanyponvelle commented on #95
@joshkimmell  yes! I left it as one for now, because I feel like we should suggest a max amount. Maybe "Choose two accent colors. (Add additional hues as needed)"

[2015-03-23 17:03] britanyponvelle commented on #95
![wdl-color-examples-2-05](https://cloud.githubusercontent.com/assets/9538528/6785608/9bc98f18-d154-11e4-9c75-d206e1765e84.png)

[2015-03-23 17:03] bobbinrobyn commented on #95
And like we talked about, maybe the percentages aren't the best way to make it clear to designers. Instead, maybe annotating the visual hierarchy graphic with a caption like _(Primary: Blue 60, Secondary: Orange 50, Accent: Teal 40)_ could be helpful.

[2015-03-23 17:18] edouuard commented on #95
hi just leaving a note — y'all are so inspiring to me :heart_eyes:
![selfie-0](http://i.imgur.com/AkPsoop.png)

[2015-03-23 17:57] britanyponvelle commented on #95
@edouuard hello sir, thanks for the love !

[2015-03-23 17:59] britanyponvelle commented on #95
@bobbinrobyn agreed. The percentages didn't really add value to the chart. I can add that as a caption instead

[2015-03-23 18:12] bobbinrobyn commented on #94
These were the results from user testing:
With Watson designers – https://releaseblueprints.ibm.com/display/WDA/Testing+Final+Palettes
With non-Watson designers – https://releaseblueprints.ibm.com/display/WDA/Testing+Final+Palettes

[2015-03-23 18:41] bobbinrobyn commented on #95
I did a little synthesis / write-up about the final color palette selection: https://releaseblueprints.ibm.com/display/WDA/Color

[2015-03-23 18:50] poofichu commented on #125
##Grids

Grids are utilized to keep order on a page.  They provide order and structure to a document as well as enforce proportion and constraint on a design.  Ideally, a grid is specific to the content and design of a site, and it should be an extension of both.

Do not choose a grid system first - your content will help dictate and decide what grid system you decide to work with.

//Instead of u

[2015-03-23 18:52] poofichu commented on #125
** Discussion scheduled for tomorrow to talk about responsive grids and relation to how visual designer should keep them in mind -- @Snugug has some GREAT resources as to how to incorporate them into the front-end, but we need to translate this information for visual designers.

@ryanbrownhill @bobbinrobyn @britanyponvelle @britanyponvelle Please comment with any ideas/suggestions to the informati

[2015-03-23 18:53] britanyponvelle commented on #95
Added recommended greys and neutrals as we want to recommend using neutral backgrounds rather than pure white:
(still have to add this to the written guideline)

![wdl-color-examples-v2-05](https://cloud.githubusercontent.com/assets/9538528/6787925/f7eaa1d8-d163-11e4-998f-f4819b8e208c.png)

[2015-03-23 19:04] britanyponvelle commented on #95
Just added:
*When possible, use a neutral value as a background color instead of pure white.*
*When possible, use a grey value as a background color instead of pure black.*

@bobbinrobyn the wiki is updated! If @joshkimmell and @poofichu are cool with these as they are, I'd say send it out :)

[2015-03-23 19:06] britanyponvelle commented on #95
@joshkimmell Josh says it's good to go!

[2015-03-23 19:06] joshkimmell commented on #95
yup

[2015-03-23 19:08] poofichu commented on #95
WOOHOO!!

[2015-03-23 20:48] ryanbrownhill opened #130 "Decide direction for Documentation & Guidelines"
- [x] Define difference between documentation & guidelines
- [x] Define the Content Modeling these different documents
- [x] Define where these live (Repo or Wiki)
- [x] Define how to format these documents (Markdown formatting, etc.)

[2015-03-23 20:53] britanyponvelle commented on #120
Draft v2:

## Typography
Typography is the vehicle that delivers content to interfaces. It sets the visual tone for the entire Watson experience. Text is largely differentiated by size and weight, keeping other properties the same or similar, differentiating only when necessary for the sake of clarity.

### Helvetica Neue for IBM
Per IBM Design (link to IBM guidelines on typography): as a rule and

[2015-03-23 21:15] Snugug commented on #94
Can we move this in to our wiki here?

[2015-03-23 21:17] ryanbrownhill commented on #114
Need #130 in order to further progress on this.

[2015-03-23 21:22] britanyponvelle commented on #120
@joshkimmell @poofichu for the Typographic scale section, I was thinking of recommending wither the Major Third or the Perfect Fourth scale (instead of the Golden ratio). The increments for these two are under 1.5x, making the contrast less extreme. As always, the ultimate decision should be based on the content, but I think these are good staring points.

Thoughts?

[2015-03-23 21:25] joshkimmell commented on #120
Yah... that's good. Typo though... perfect *fourth*

[2015-03-23 21:30] ryanbrownhill commented on #65
Agreed - I think the second one might be a little bit too noisy. I think the second one would be better suited.

I can continue with the second animation and figuring out how to make this more production ready but I believe it will take me quite sometime. I am happy to continue do it but I will need someone that has more front end expertise to help me finalize this. My main front end challenge is

[2015-03-23 21:42] britanyponvelle commented on #120
Good eye!

[2015-03-23 22:17] bobbinrobyn commented on #95
Here's the coded color palette (just for now, I know it will need to be redone for the real website).  http://pages.design.ibm.com/rlhammon/watson-color-palettes/master/palette_final.html

[2015-03-23 22:18] poofichu commented on #120
Bueno!

[2015-03-24 00:46] britanyponvelle commented on #121
Here are some examples from a SxSW talk I went to: http://firsttimeux.tumblr.com/ :)

[2015-03-24 14:37] bradbecker commented on #120
As much as it pains me to say it, we should consider removing Open Sans from the font stack. Helv N, Helv, and Arial are similar and os is not. The aspect ratio especially is different. Not to mention that it seems to draw the ire of ibm design.

[2015-03-24 15:12] bobbinrobyn commented on #122
This is done! We can close it.
https://github.com/IBM-Watson/design-library/wiki/Color-Guidelines
http://pages.design.ibm.com/rlhammon/watson-color-palettes/master/palette_final.html

[2015-03-24 15:31] poofichu commented on #111
Big blockers on this one -- Working with the IBM Core team to determine what the reason is for not having the icons public.  Maybe coming up with a solution?

[2015-03-24 15:35] Snugug commented on #122
All looks great!

If the content in the Wiki is the final content for the site, we need to get a PR opened to bring it in to the repository. @ryanbrownhill just did similar with #128

[2015-03-24 16:03] Snugug commented on #125
So instead of stealing from me, I recommend pilfering from http://alistapart.com/article/content-out-layout.

In regards to what's written, I'd drop the grid systems bit. I'd talk about [layouts](https://github.com/IBM-Watson/design-library/issues/93#issuecomment-83206754) and mention that unless otherwise specified our layouts are built using [Singularity](https://github.com/at-import/singularity

[2015-03-24 16:53] poofichu commented on #127
BLOCKER -- Icons are in progress of getting an open source license.  Working with the core team to get this figured out.

Three options proposed:
1 - Fast track the license
2 - Providing us with set that is open-sourced
3 - Launch with no mention of iconography until we can get this figured out.

[2015-03-24 18:57] britanyponvelle commented on #98
This issue has been completed and lives here:
https://github.com/IBM-Watson/design-library/wiki/Visual-Guidelines

[2015-03-24 18:59] Snugug commented on #98
Until these are merged in, we can't consider this closed. I'm going to re-open until we've merged the PR

[2015-03-24 18:59] ryanbrownhill commented on #130
Guidelines are the methodologies and best practices we use for a certain subject.
Documentation is the technical side of how to use our components and design library.

Animation is a special case it includes both Guidelines and Documentation on how to create animations (it does not include Technical Documentations on how to implement them - that will be housed elsewhere)

Wiki is where we will wor

[2015-03-24 19:34] britanyponvelle commented on #98
ok. once it's merged, can we add additional changes later?

[2015-03-24 19:52] Snugug commented on #98
Yup, we can iterate on everything.

[2015-03-24 20:24] britanyponvelle commented on #95
Updated links, and re-named "Color Hierarchy" to "Applying a Color Palette"

## Color
Color is a crucial component of our visual vernacular, helping to unify the look and feel of all communications. The IBM Design core color system comprises a wide spectrum of colors; IBM Watson relies on a defined subset of those colors to establish its unique presence while respecting the broader IBM Design guid

[2015-03-24 20:27] britanyponvelle commented on #120
Next steps:
- [ ] Get feedback from Watson team
- [ ] Get feedback from Studio team
- [ ] Add to branch
- [ ] Submit pull request

[2015-03-24 20:54] kathrynmcelroy commented on #130
Initial Content Modeling outline is up in the Wiki: https://github.com/IBM-Watson/design-library/issues/130#issuecomment-85643940

I did not make specifics on length of text, etc., but I'm trying to meet up with Josh somehow go over and add in any additional elements and details that we may need. (and we may not need "short descriptions" for each section/sub-section...) Feedback welcome, and this

[2015-03-24 21:42] britanyponvelle commented on #126
Updated: comments on the importance of being inclusive

### Accessibility
High color contrast helps users who are partially or completely color-blind see differences between certain colors. It creates a strong visual hierarchy and improved usability for everyone. When choosing colors and contrast ratios for typography it is important to adhere to the IBM Design Language recommendations for accessi

[2015-03-24 21:48] britanyponvelle commented on #120
Draft v2:

## Typography
Typography is the vehicle that delivers content to interfaces. It sets the visual tone for the entire Watson experience. Text is largely differentiated by size and weight, keeping other properties the same or similar, differentiating only when necessary for the sake of clarity.

### Helvetica Neue for IBM
As a rule and wherever possible, use Helvetica Neue. It is the font

[2015-03-24 22:28] britanyponvelle commented on #120
Two updates:
- comment on why we recommend no more than 4 weights per product. @Snugug do you think we should add anything else to support this recommendation?
- took out recommendations for using the Major Third and Perfect Fourth, specifically. Instead, added a comment on having the content and browser size inform which scale to use. Thoughts on this @joshkimmell ?

### Helvetica Neue for IBM
As

[2015-03-24 22:49] Snugug commented on #120
A couple of thoughts:

* We'll need a monospace font stack as well. I really love [Source Code Pro](http://adobe-fonts.github.io/source-code-pro/), but we need to find a font we like. We can slo use systems fonts, but we need a monospace font stack. For our monospace, we can add one (maybe two) additional font files. We should be clear that this is separate than the weights for Helvetica.
* Instea

[2015-03-24 23:00] britanyponvelle commented on #95
Update:
-Comments on why Watson recommends not using pure black or white

### Applying A Color Palette
Color is a powerful communication tool to determine hierarchy on a page. Use ample white space and neutrals to create balance and to direct users' attention.

**Visual example:**
1. Color Application: Light Palette

![wdl-color-hierarchy-light-02](https://cloud.githubusercontent.com/assets/953852

[2015-03-24 23:09] britanyponvelle commented on #95
Update:
-reasoning as to why IBM Watson is recommending these colors

## Colors for Watson
The colors chosen for IBM Watson are flexible and distinguish Watson as a brand across all user experiences. The colors chosen for IBM Watson were developed to support the Watson brand attributes,  reinforce Watson's personality (link to personality), and set the tone of your product.

**Visual Examples:**
L

[2015-03-24 23:28] poofichu commented on #125
## Grids

* IBM Design Language http://www.ibm.com/design/language/framework/visual/layout.shtml *

## Web Grids vs. Print Grids

Web grids and print grids are not the same.  Print grids deal with a fixed display and content size with limited user distraction.  Web grids have many and varied display sizes with varied content lengths, sizes, and types.  Web grids also come with numerous reading mod

[2015-03-24 23:31] poofichu commented on #125
@britanyponvelle @Snugug take a look please!

[2015-03-24 23:32] Snugug commented on #125
We should start getting these in to PRs so we can comment line by line. I've got some updates I'd like to make, I'll do it tomorrow

[2015-03-25 01:39] poofichu commented on #125
Yes to pull requests!  We'll work it out tomorrow.

[2015-03-25 14:11] britanyponvelle commented on #125
It looks great! Do you intend to link to the pages you listed here? For the first section I think it would be helpful to say why designing this way is beneficial to the user. Something like this? (my additions are in bold):

## Grids

Also, in the responsive grids section, is there some kind of tool we can link to to help designers determine the most appropriate ratio for their content? I know I w

[2015-03-25 15:31] Snugug commented on #125
Okay, here's my thought on a rewrite. I also think Brad's *the web* images aren't right for this section; the images in Nathan's blog post are better, or we may need to make our own: https://github.com/IBM-Watson/design-library/wiki/Grids

[2015-03-25 15:47] poofichu commented on #125
@Snugug I LIKE IT.  It does, in my opinion, need some sort of visual examples.  I would like to still include your [responsive grid context ](http://snugug.github.io/responsive-grids/#/responsive-grids-display) but maybe adjust it and show in some visual way that you can use %/em and create a ratio -- content controls your breakpoints, not devices.

[2015-03-25 15:48] Snugug commented on #125
Yah, agreed it needs a visual example or two

[2015-03-25 15:52] britanyponvelle commented on #95
Update:
-reasoning as to why IBM Watson is recommending these colors

## Colors for Watson
The colors chosen for IBM Watson are flexible and distinguish Watson as a brand across all user experiences. The colors chosen for IBM Watson were developed to support the Watson brand attributes,  reinforce Watson's personality (link to personality), and set the tone of your product.

**Visual Examples:**
!

[2015-03-25 15:56] kathrynmcelroy commented on #124
Updated Content Modeling on the wiki based on feedback from Britany, Robyn, and Jessica this morning. https://github.com/IBM-Watson/design-library/wiki/Content-Modeling---in-progress

[2015-03-25 15:59] Snugug commented on #124
Reading through this, some of it looks more like a site map than content models. Are you going to spin the content models out of this?

[2015-03-25 16:40] kathrynmcelroy commented on #124
@Snugug The Content Model portion is up top. The "principles" is a little site-mapy, but the Guidelines and UI Patterns part are more inline with traditional content models. The bottom section is showing how the Content Model applies to the site map and how the pieces are being used.

What other information do you need for the official "Content Model"? This is at the point that the content-makers

[2015-03-25 16:41] Snugug commented on #124
I'd like to see the individual models abstracted out of the site-mapie flow and into sections that are easily identified with their attributes and how those attributes get used.

[2015-03-25 16:47] britanyponvelle commented on #95
Pull request opened for color guidelines #131

[2015-03-25 16:49] britanyponvelle commented on #126
Pull request opened for visual accessibility guidelines #133

[2015-03-25 16:51] britanyponvelle commented on #120
Pull request opened for typography guidelines #132

[2015-03-25 16:53] ryanbrownhill commented on #130
This model looks great! This issue looks good to close. @Snugug - anything else we need to do before closing. Do we need to create a pull request for the content model? If we did would it live in the language folder?

[2015-03-25 17:17] ryanbrownhill commented on #114
@Snugug @joshkimmell
Working with IBM Design on writing the guidelines. Currently the document I have are guides for people to create animations on brand. The problem is that the higher level information like: why include animation, where does this fit in my process, and what are the principles.

The way IBM Design typically writes content for the site is through a small "committee." that Hayley p

[2015-03-25 18:32] kathrynmcelroy commented on #124
What do you mean by "individual models"? How would that differ from the "Guideline" model? I understand that the "Principles" one is different but are the "Guideline" and "UI Pattern" models in pretty good form? I'm currently working on making it more streamlined.

[2015-03-25 20:08] britanyponvelle commented on #74
Quick mock up : @kathrynmcelroy

![screen shot 2015-03-25 at 3 06 51 pm](https://cloud.githubusercontent.com/assets/9538528/6834233/ae9552d2-d300-11e4-940a-058e2e469619.png)

[2015-03-25 20:11] britanyponvelle commented on #74
Quick mock up : @kathrynmcelroy

![screen shot 2015-03-25 at 3 06 51 pm](https://cloud.githubusercontent.com/assets/9538528/6834233/ae9552d2-d300-11e4-940a-058e2e469619.png)

![screen shot 2015-03-25 at 3 11 05 pm](https://cloud.githubusercontent.com/assets/9538528/6834311/3403518a-d301-11e4-8267-b82755a1b038.png)

[2015-03-25 20:24] britanyponvelle commented on #74
Quick mock up : @kathrynmcelroy

![screen shot 2015-03-25 at 3 22 41 pm](https://cloud.githubusercontent.com/assets/9538528/6834555/e0746b24-d302-11e4-83a9-8dc1630032dd.png)

![screen shot 2015-03-25 at 3 22 03 pm](https://cloud.githubusercontent.com/assets/9538528/6834559/e7349484-d302-11e4-874d-c29780958a08.png)

[2015-03-25 20:32] #67 closed

[2015-03-25 20:49] britanyponvelle commented on #120
Source Code Pro looks nice. It's cleaner than [Courier New](http://www.prepressure.com/fonts/interesting/courier) and has curves that I think compliment Helvetica.

thoughts?

[2015-03-25 20:50] Snugug commented on #124
Let's take Guidelines for instance:

I see Guideline General Title, then under that Section title with some pieces and under that sub section title. I'm not entirely sure what to make of that in terms of a content model. Is each section a separate piece of content? Are those attributes of each section, or just content that's to be represented in each section. What about subsections? Are they attri

[2015-03-25 20:53] kathrynmcelroy commented on #74
Ready for testing!!! http://pages.design.ibm.com/kemcelroy/menu-test/master/

[2015-03-25 20:55] Snugug commented on #74
I like the orange, but then again I always like orange.

[2015-03-25 20:57] Snugug commented on #120
I'd look for a monospace font that closely matches Source Code Pro so there aren't drastic styling shifts if that font isn't available.

[2015-03-25 20:58] Snugug commented on #74
@kathrynmcelroy I'd make the slide happen faster, `.8s` for an animation is an eternity; I'd suggest something close to `.3s`. @ryanbrownhill thoughts?

[2015-03-25 20:59] britanyponvelle commented on #120
To your other comments @Snugug :

- IDL recommends using a minimum of 16 px/ 1 em as a base size, but I'm not sure if there is a hard rule for a minimum size.

-IDL lists recommendations for combining font weights. I feel like recommending style combinations might be too prescriptive. I think "4 combinations of weights and styles (light and light oblique being 2 separate combinations, for instance

[2015-03-25 21:00] kathrynmcelroy commented on #74
Great feedback. This menu is designed for testing the Information Architecture of the menu system that I'm working on with @britanyponvelle. I'll be testing this afternoon and tomorrow morning, and this will lead to a finalized IA and navigation design!

[2015-03-25 21:00] britanyponvelle commented on #120
@Snugug I will add the monospace thing to my to do list

[2015-03-25 21:12] Snugug commented on #120
@britanyponvelle

* The base font size thing is an accessibility best practice. It's cool if we don't include it though as IDL does
* Correct me if I'm wrong, but it looks like the current content for this section has us prescribing 400 and 700 weight fonts, so I'm OK with not being a bit more prescriptive on choosing font weights. If not, something like "for best contrast, between two font weight

[2015-03-25 21:58] kathrynmcelroy commented on #74
Updated with some "content" to jump to: http://pages.design.ibm.com/kemcelroy/menu-test/master/master/

[2015-03-25 22:20] kathrynmcelroy commented on #74
Updated prototype for testing IA #93 and Navigation: http://pages.design.ibm.com/kemcelroy/menu-test/master/

- added "content" to jump to
- changed animation speed

[2015-03-25 22:39] britanyponvelle commented on #120
Monaco seems to be closer than Courier:

I think recommending contrast that could solve the problem of sounding like we are dictating which weights to use, rather providing guidance to help someone choose the most appropriate weight. Sounds good to me!

Here is what I have updated:
----

## Typography
Typography is the vehicle that delivers content to interfaces. It sets the visual tone for the en

[2015-03-26 00:10] Snugug commented on #120
Looking good. Two thoughts: one, include Roboto in the browser font stack as well. Two, we should check to see where Monaco is available in order to ensure our font stack works as expected

[2015-03-26 03:50] ryanbrownhill commented on #74
@Snugug @kathrynmcelroy yep .3s is the default recommended speed. (we could go a little faster .1 or .2 because its not traveling a very far distance to expand) Overall, it looks great! Can't wait to implement our easing curve in there! :+1:

[2015-03-26 14:11] britanyponvelle commented on #120
Just wondering, why Roboto?

Monaco is only safe on Mac. Maybe we can add Lucida Console in the stack as well? It's a better backup than courier
http://www.cssfontstack.com/

[2015-03-26 14:33] Snugug commented on #120
Monaco looks a bit comic sans-ish to me? Either way.

Here are [all the standard fonts for all OSes](http://www.granneman.com/webdev/coding/css/fonts-and-formatting/default-fonts/) that can be used to help figure out a cross-browser cross-device font stack for our two font stacks.

The reason I recommend adding in Roboto is because Android doesn't come with Arial or Helvetica, but it comes with (<

[2015-03-26 15:03] britanyponvelle commented on #120
Thanks for the reference!  [Andale Mono]( v1.jontangerine.com) also seems to be safe for Mac, and it is closer to both [Lucida Console](http://www.cssfontstack.com/Lucida-Console) and Source Code Pro.

thoughts? @joshkimmell @poofichu

[2015-03-26 18:45] Snugug commented on #95
Resolved by #133

[2015-03-26 18:46] Snugug commented on #120
Resolved by #133

[2015-03-26 18:49] Snugug commented on #98
Resolved by #133

[2015-03-26 18:56] Snugug commented on #122
Resolved by #133

[2015-03-26 19:25] kathrynmcelroy commented on #123
I completed the initial wireframe to test the IA. @bobbinrobyn is currently working on an updated wireframe to use for visual design.

[2015-03-26 19:29] kathrynmcelroy commented on #93
Testing completed with updated, coded prototype: http://pages.design.ibm.com/kemcelroy/menu-test/master/

Feedback written here: https://github.com/IBM-Watson/design-library/wiki/Information-Architecture-for-the-final-site

No major issues with user testing the IA, ready to move into wireframes, visual design, and coding.

[2015-03-26 20:01] Snugug commented on #93
@kathrynmcelroy In the coded prototype you have, for the patterns, I see that you have `text` and `forms`, etc… under each header. What are these? Taxonomy that patterns will be grouped in to? We currently don't have any form of taxonomy for our patterns (we can have) but if we're going to introduce that, we're going to need a system in order to categorize them. What happens when we have more than

[2015-03-26 21:20] bobbinrobyn commented on #123
I've been working on wireframing all day, and I can sync up with @britanyponvelle tomorrow to show off where I'm at. I'll do my best to be done by EOD tomorrow.

[2015-03-26 23:12] #126 closed

[2015-03-26 23:12] #95 closed

[2015-03-26 23:12] #120 closed

[2015-03-26 23:12] #98 closed

[2015-03-26 23:12] #122 closed

[2015-03-26 23:37] bobbinrobyn commented on #123
Things to be thinking about:
Will we have an image at the top of each main section (Principles, Guidelines, UI Patterns)? Or will it just start with a heading?

[2015-03-26 23:39] Snugug commented on #123
I'm going to caution against an image, that's going to increase our page load time substantially without much boost to our usability. Maybe @ryanbrownhill can come up with some interesting animations that are small in size and responsive.

[2015-03-26 23:46] joshkimmell commented on #123
I think Robyn, Kathryn, Britany, Ryan, Jessica can come together and get to an amazing solution that considers usability and performance. Maybe an image is a good solution, maybe not. Please take Sam's caution to heart and move forward.

[2015-03-27 04:05] bobbinrobyn commented on #123
Something else to think about:
Are we going to have an ever-present search/filter?

[2015-03-27 05:09] bobbinrobyn commented on #123
I hosted my Axure wireframes/prototype here. Still lots of work to go, but at least it's a good start for the Principles and Guidelines sections. http://pages.design.ibm.com/rlhammon/watson-color-palettes/master/axure%20wireframes/principles.html

[2015-03-27 05:34] ryanbrownhill commented on #123
Looks good @bobbinrobyn ! I think we can create some kind of svg animation at the top instead of an image. Some initial ideas: Watson logo animating on, simple animation of an icon that represents principles.

At minimum I think doing a simple header animation for the intro would work (like IBM Design is working on) :
![header-animation](https://cloud.githubusercontent.com/assets/9538395/6863027/5

[2015-03-27 10:36] Snugug commented on #123
Robyn: no persistent search for the first iteration

Ryan: 73Kb for a JavaScript library gives me goosebumps; that's a lot of weight before we have anything to show for it and is likely to have serious performance implications especially on low powered devices (phones and tablets, for instance)

We can have a single color fallback instead of an animated gif fallback, or to think about it in the te

[2015-03-27 13:05] kathrynmcelroy commented on #93
I realized that I have not put the final IA map anywhere on here. This is the final IA:

![initial-ia](https://cloud.githubusercontent.com/assets/5400092/6868233/d99164e6-d457-11e4-9ede-3097682b5754.jpeg)

@Snugug We will need a taxonomy for the patterns as they grow. As of right now, I do not have enough information about what patterns will be in "Elements", "Components", and "Layouts" to propose

[2015-03-27 13:17] britanyponvelle commented on #123
I will run with this today, and upload my progress in #74 and #71

[2015-03-27 13:25] Snugug commented on #93
Yes, let's talk more. Especially as some items in "elements" aren't actually elements as we have them defined, and we are going to run in to issues with displaying taxonomy under each heading for UI patterns, starting immediately and growing (specifically, items with the same taxonomy may exist under multiple items, like right now we have form items in both elements and components)

[2015-03-27 14:54] britanyponvelle commented on #74
Mock up for browser smaller than 1000px:

V1:
![nav-blue-small](https://cloud.githubusercontent.com/assets/9538528/6869907/a43b537e-d466-11e4-9bba-ddcd86b6d2d5.png)

V2:
![nav-dark-small](https://cloud.githubusercontent.com/assets/9538528/6869908/a7c258e4-d466-11e4-9df7-af7ce4797f34.png)

Mock up for browser bigger than 1000px:

V1:
![nav-blue-large-expanded](https://cloud.githubusercontent.com/as

[2015-03-27 14:59] Snugug commented on #74
One thing we should keep in mind is that we don't want navigation/content disparity between different screen sizes. We can rearrange how things get displayed, but we should try not to hide/show different navigation/content at different sizes; users want all of it and want it to be consistent.

[2015-03-27 15:24] britanyponvelle commented on #74
Browser smaller than 1000px:

Teal:
![nav-small-teal-guidelines](https://cloud.githubusercontent.com/assets/9538528/6870669/68ed08b2-d46b-11e4-8ea0-7859a2ba61b8.png)
![nav-small-teal-principles](https://cloud.githubusercontent.com/assets/9538528/6870670/68efda24-d46b-11e4-921b-f6c2541abc8b.png)

Blue:
![nav-small-blue-guidelines](https://cloud.githubusercontent.com/assets/9538528/6870677/71d31d2c-

[2015-03-27 15:28] Snugug commented on #74
I like the teal more than I like the blue

[2015-03-27 15:34] joshkimmell commented on #74
What about orange/blue/teal?

[2015-03-27 15:34] ryanbrownhill commented on #74
I agreed I like the teal better. Looking at it on my phone I think the leading needs to be increased - the hit states seem a little small.

[2015-03-27 15:57] britanyponvelle commented on #74
@ryanbrownhill thanks! I increased the leading to 1.6em.
@joshkimmell I use going to use the orange for headings

Blue/ Teal:
![nav-small-blue-guidelines-v2](https://cloud.githubusercontent.com/assets/9538528/6871360/fbfd00b8-d46f-11e4-84a2-be362aea2c02.png)
![nav-small-blue-principles-v2](https://cloud.githubusercontent.com/assets/9538528/6871361/fc00899a-d46f-11e4-851b-37fd02f799e7.png)

Teal:
!

[2015-03-27 16:16] britanyponvelle commented on #74
Browser larger than 1000px:

Blue/ Teal:
![nav-large-blue-guidelines](https://cloud.githubusercontent.com/assets/9538528/6871742/ad644a94-d472-11e4-91f0-7b8083740003.png)
![nav-large-blue-principles](https://cloud.githubusercontent.com/assets/9538528/6871741/ad62bfa8-d472-11e4-9977-36bad3c8915b.png)

Teal:
![nav-large-teal-guidelines](https://cloud.githubusercontent.com/assets/9538528/6871747/b57c

[2015-03-27 16:22] Snugug commented on #74
@britanyponvelle So is the idea that on small screens the menu will fold out from underneath when tapped on and slide out from the right on larger screens? Does tapping on the title on large screens open the introduction page for that section, and not on small screens (because it can't if it's a toggle as well)?

[2015-03-27 16:27] britanyponvelle commented on #74
The idea is that when you land on the site, the principles page would already have the secondary nav open, and would stay open (both mobile and desktop). The same goes for Guidelines and UI Patterns. @kathrynmcelroy tested this, and said she will share it with you at your meeting later

[2015-03-27 16:29] britanyponvelle commented on #74
The Guidelines/ UI page would have the primary, secondary, and tertiary links at all times

[2015-03-27 18:07] britanyponvelle commented on #74
Mockup of H1, H2 H3, links, and resources panel for browsers larger than 1000px

![main-large-color-19](https://cloud.githubusercontent.com/assets/9538528/6874023/31c501ca-d482-11e4-99b6-9c9cff44980d.png)

[2015-03-27 19:20] britanyponvelle commented on #74
@joshkimmell @Snugug @poofichu @ryanbrownhill @kathrynmcelroy
here are some light and dark versions. Thoughts?

![main-large-v2-19](https://cloud.githubusercontent.com/assets/9538528/6875417/58e85d10-d48c-11e4-8083-165217c70e4c.png)
![main-large-v2-20](https://cloud.githubusercontent.com/assets/9538528/6875418/58ea1d1c-d48c-11e4-89c4-b0e846e38569.png)

[2015-03-27 19:20] Snugug commented on #74
I like 19 better than 20

[2015-03-27 19:29] kathrynmcelroy commented on #74
I like 20! the lighter side bar really makes the page easier to read and feels more open.

[2015-03-27 19:30] bobbinrobyn commented on #74
I think 20 works better, because it takes some of the emphasis off the side nav. Having that navigation is important, but it's definitely not the MOST important content.

[2015-03-27 19:31] Snugug commented on #74
What about 20 with teal in the sidebar instead of orange?

[2015-03-27 19:33] bobbinrobyn commented on #74
Yep, I think that would be great. Josh asked Britany to try adding more color, but I think it would be more consistent to have all the navigation color accents be the same color.

[2015-03-27 19:33] kathrynmcelroy commented on #74
I do like the teal. Example of side bars that I just showed Britany: https://stripe.com/docs/api#authentication

[2015-03-27 19:38] britanyponvelle commented on #74
I think the teal in both the main nav and side nav is working! If we are going to choose two colors for those, they would need to be really different since they would be right next to one another on mobile. So I propose either teal and teal, or orange and blue.

![main-large-teal-20](https://cloud.githubusercontent.com/assets/9538528/6875638/7429e59c-d48e-11e4-99c5-a132c7246e24.png)

[2015-03-27 19:55] Snugug commented on #74
Unfortunately, the teal on grey [isn't accessible at the sizes we have them](http://leaverou.github.io/contrast-ratio/#rgb%280%2C133%2C133-on-rgb%28236%2C236%2C236%29) so I'd recommend only using it as an accent color.

[2015-03-27 19:56] Snugug commented on #74
Actually, the teal on that black up top [isn't accessible at all](http://leaverou.github.io/contrast-ratio/#rgb%280%2C133%2C133%29-on-rgb%2850%2C%2050%2C%2050%29), so we need new colors :cry:

[2015-03-27 19:57] Snugug commented on #74
(I'm assuming we're using Teal 60 here)

[2015-03-27 20:08] britanyponvelle commented on #74
@joshkimmell and @kathrynmcelroy had the idea of a side bar that adjusts with the content to give the main content more breathing room

Colors:
Teal 30 on Grey 80
Teal 60 on Grey 10, Neutral 4, and Neutral 2

![main-large-small-side-bar-22](https://cloud.githubusercontent.com/assets/9538528/6876167/c8cc34f2-d492-11e4-8356-27a38b421bd7.png)

[2015-03-27 20:29] britanyponvelle commented on #74
Same as above ^ for browsers smaller than 1000px

![nav-light-22](https://cloud.githubusercontent.com/assets/9538528/6876489/02b25aae-d496-11e4-866f-9e432876d193.png)

[2015-03-27 20:30] britanyponvelle commented on #74
Same as above ^ for browsers smaller than 1000px

![nav-light-21](https://cloud.githubusercontent.com/assets/9538528/6876510/2bef3ba8-d496-11e4-8701-25ab1d02521b.png)

[2015-03-27 20:32] poofichu commented on #74
I LOVE THIS.

My only comment would be to explore the body link color.  Blind/old people like me can't see and determine it's a link at first glance.  Maybe play with underline?

[2015-03-27 20:35] poofichu commented on #74
AND ALSO

Play with Second and Third tier font styles.  They look pretty similar right now.  Uppercase vs lower case maybe?  Play with font weights?

[2015-03-27 20:53] Snugug commented on #74
As a general best practice, all links should have underlines of some sort.

[2015-03-27 20:59] poofichu commented on #127
Meeting is setup for Monday with Hayley and @Snugug to further discuss licensing and usage of the icons.

[2015-03-27 21:01] britanyponvelle commented on #74
Agreed on differentiating the links from the body text.
Another thought: should the links that navigate the user to a different page be treated differently than links that download assets? (for example: ASE download link)

Mocked up:
- underlined links
- different color for downloads
- adjusted weights for H tags

![main-large-link-v3](https://cloud.githubusercontent.com/assets/9538528/6876959/8c1

[2015-03-27 21:07] bobbinrobyn commented on #74
Yes yes yes. @britanyponvelle It's looking awesome. Hierarchy is great. The only thing with the download link is that I would include some kind of icon that indicates a download. If it's that chain link icon, maybe put it closer to the actual download?

[2015-03-27 21:10] britanyponvelle commented on #74
Because there is a download icon, isn't there? :) heh heh. I will fix that....

[2015-03-27 21:42] britanyponvelle commented on #74
Updated:
- got rid of "style" section
- added download icon

@Snugug @joshkimmell @kathrynmcelroy

![main-large-v4-23](https://cloud.githubusercontent.com/assets/9538528/6877568/23d059ca-d4a0-11e4-9058-8adb722387da.png)

[2015-03-29 21:10] Snugug commented on #65
Modernizer v3 has a feature detect for SMIL
http://v3.modernizr.com/download/

We should also connect with Marketing on this, apparently using the logo to indicate loading is against the band guidelines for the avatar

[2015-03-30 11:50] joshkimmell commented on #65
We should connect, though technically it isn't the logo. There are no lashes.

[2015-03-30 11:50] Snugug commented on #65
logo/avatar I'm sure they don't make a distinction. But yes, we should connect.

[2015-03-30 13:42] bradbecker commented on #65
I thought this was for thinking and processing.

-b

[2015-03-30 14:19] britanyponvelle commented on #74
In an effort to try to wrap up decisions on nav styling, I'm looking for feedback on these options:
- Indentation on side navigation bar
- side bar that sticks to the left side of browser, or floats left of main content.

Browser larger than 1000px: **v1**
Indentation on side bar, floats left to main content
![wdl-large-nav-style-02](https://cloud.githubusercontent.com/assets/9538528/6898009/f3fcb

[2015-03-30 14:30] bobbinrobyn commented on #74
I vote for v2 (no indentation, floats to the left of main content) but maybe with a tad bit more space between the end of one section and the start of the next one (e.g. between "Grids" and "Interaction"). I think the versions without indentation help those top-level sections look more like categories and less like their own pages. It's looking good!

[2015-03-30 14:31] kathrynmcelroy commented on #74
Navigation is looking good. I like the look of the non-indented (since most of the high-level links style, interaction, branding don't have their own pages). But copy does have a page, so I think it would be best to do indented so it looks more like you can click the "Copy" link, or add a page under "Copy" instead and go with non-indented.

[2015-03-30 15:00] britanyponvelle commented on #74
Could we call the section with copy, "Tone" or "Voice"? So it would be Voice> Copy

[2015-03-30 15:08] bobbinrobyn commented on #123
I anticipate being able to close this issue today.

[2015-03-30 16:54] britanyponvelle commented on #74
@poofichu and I user tested these navigation styles with 8 designers (Watson and Studio):
[Indented & Bold Headings](http://pages.design.ibm.com/tremblay-us/menu-test/master/bold-titles-indent/)
[Indented & Non-Bolded Headings](http://pages.design.ibm.com/tremblay-us/menu-test/master/)
[In-line & Bold Headings](http://pages.design.ibm.com/tremblay-us/menu-test/master/bold-titles/)

From our resear

[2015-03-30 17:06] bobbinrobyn opened #136 "Choose how to categorize & display elements"
@Snugug and @kathrynmcelroy are choosing between an alphabetical list or a categorized list of elements

[2015-03-30 17:28] joshkimmell commented on #74
Yay!

[2015-03-30 17:53] britanyponvelle commented on #71
Mockup of color page for browsers larger than 1000px:

![wdl-large-color-06](https://cloud.githubusercontent.com/assets/9538528/6902805/bf7f52da-d6db-11e4-81f4-e9ea227a17a5.png)

[2015-03-30 20:05] britanyponvelle commented on #71
Here is a mockup of the UI Patterns page:

![wdl-patterns-button-07](https://cloud.githubusercontent.com/assets/9538528/6905487/f2e6da6e-d6ed-11e4-88fc-6fa8f051743d.png)

I'm still working on getting the code snippets right. @Snugug what are your thoughts on having multiple colors assigned to bits of code, vs. all one color?

[2015-03-30 20:22] britanyponvelle commented on #74
Here is the most recent version of nav:
If everyone votes :+1: I think we can close this!

![screen shot 2015-03-30 at 3 18 09 pm](https://cloud.githubusercontent.com/assets/9538528/6905873/991ebce2-d6f0-11e4-8630-3d79e14f512b.png)
![screen shot 2015-03-30 at 3 18 30 pm](https://cloud.githubusercontent.com/assets/9538528/6905874/99211bfe-d6f0-11e4-9def-188b8bb0f543.png)

[2015-03-30 20:25] britanyponvelle commented on #74
Here is the most recent version of nav:
If everyone votes :+1: I think we can close this!

![screen shot 2015-03-30 at 3 24 10 pm](https://cloud.githubusercontent.com/assets/9538528/6905926/e765cb8e-d6f0-11e4-84dc-089c249f2635.png)
![screen shot 2015-03-30 at 3 18 09 pm](https://cloud.githubusercontent.com/assets/9538528/6905931/ec9875de-d6f0-11e4-8f9c-b6dd1c229666.png)

[2015-03-30 20:29] poofichu commented on #71
Just to add my 2 cents...  I like the simple one you have here on [http://pointnorth.io/#content-modeling](North).  It's simple black and white.  If we do add colors, I would like to avoid bright blues, pinks, and greens like you have on the [http://pointnorth.io/#general-coding-syntax](Coding Syntax Page)

[2015-03-30 20:31] britanyponvelle commented on #71
ahh yes thanks for the feedback! The dark background with white text helps the code stand out from the rest of the page. I can try that as well.

[2015-03-30 20:41] ryanbrownhill commented on #74
:+1:
Also don't close until there is a pull request :stuck_out_tongue:

[2015-03-30 20:41] Snugug commented on #71
@britanyponvelle We should also talk about the code snippets. We're going to be using [Prism](http://prismjs.com/) for syntax highlighting; we should design the styling taking into account the advanced syntax highlighting that can be applied using it (and potentially bring it into the pattern library as a more advanced code snippet)

[2015-03-30 20:41] bobbinrobyn commented on #123
I've wireframed with the content types that we have, so I think we're good to close this issue. Any additional wireframing that needs to be done should be minor. http://pages.design.ibm.com/rlhammon/watson-color-palettes/master/axure%20wireframes/#p=principles

[2015-03-30 20:42] britanyponvelle commented on #71
Mockup of dark background for code snippets:

![wdl-patterns-button-v2](https://cloud.githubusercontent.com/assets/9538528/6906262/58ba9678-d6f3-11e4-9e12-a3e4ad6652af.png)

[2015-03-30 20:44] Snugug commented on #71
Right now, `available classes` isn't a separate piece of content, it's part of the documentation. Should we spin them out into separate attributes?

[2015-03-30 20:44] poofichu commented on #71
@Snugug Does Prism just handle all the color styling itself?  Or can we control some of it?

[2015-03-30 20:44] Snugug commented on #71
@poofichu Prism gives us tokens we can style

[2015-03-30 20:45] bobbinrobyn commented on #69
Fulfilled with #123

[2015-03-30 20:46] bobbinrobyn commented on #70
Fulfilled with #123

[2015-03-30 20:49] britanyponvelle commented on #71
ahh I see. So depending one weather we choose a light or dark background, we can place in IBM colors that are accessible. Is there a way I can see each of the colors they have here and their associations? So I can match the IBM Design colors.

[2015-03-30 20:52] Snugug commented on #71
If you take a look at the different themes, you can see how stuff gets associated (basically, any of the token classes). I like [Okaidia](https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css) the best (if you click the different themes, you can see how they apply)

[2015-03-31 00:15] britanyponvelle commented on #71
On the Okaiadia page there are 9 different colors listed for tokens. Is that how many colors we will need to define?

[2015-03-31 01:27] Snugug commented on #71
Yup. Looks that way.

[2015-03-31 14:12] britanyponvelle commented on #71
I took the colors on the Okaiadia page, and matched IBM colors, so we have: colors on the 20 scale, grey 20, grey 70, and neutral 2.

![wdl-elements-large](https://cloud.githubusercontent.com/assets/9538528/6920741/fa14ac38-d785-11e4-9085-e1da48e32d5d.png)

![wdl-elements-small](https://cloud.githubusercontent.com/assets/9538528/6920742/fa19c1f0-d785-11e4-86ad-0966fda01ef7.png)

[2015-03-31 14:12] Snugug opened #137 "feature/syntax-highlighting"
A component to track our token coloring for [Prism](http://prismjs.com/) for syntax highlighted code blocks.

[2015-03-31 14:14] Snugug commented on #71
@britanyponvelle Awesome. I just opened #137 to bring these officially into our pattern library. To provide some insight, syntax highlighting is only applied to blocks of code, not inline code (which will inherit our default inline code styling).

[2015-03-31 14:20] Snugug commented on #137
I also recommend you looking at [Prism's plugins](http://prismjs.com/#plugins) to determine if you'd like to include any of them. For instance, I know you originally had line numbering; if you'd still like to include it, make a point of requiring it. For most code snippets we probably don't need line numbers, but they can be super useful when referencing actual files.

[2015-03-31 14:27] britanyponvelle commented on #137
@Snugug will we be referencing actual files often? If not, I think leaving off the numbers is fine since it doesn't add much value to the code snippets.

Should I add this css file to language>code-snippets?

[2015-03-31 14:28] Snugug commented on #137
Agreed.

Actually, what I'd love is for you to make a new component called `syntax-highlighting` that follows the conventions of the other components and issue a PR. Directly contributing! Yay!

I can help you get Prism and all of the stuff needed in.

[2015-03-31 14:32] britanyponvelle commented on #71
Ok, great! Thanks. I was unsure about the inline code.

[2015-03-31 14:34] britanyponvelle commented on #137
Cool! Are there instructions listed somewhere that I can follow?

[2015-03-31 14:34] britanyponvelle commented on #137
For the "follows the conventions of the other components" part lol

[2015-03-31 14:35] Snugug commented on #137
:\ not yet, but they're needed. Those are the contributing guidelines I need to write in #66

[2015-03-31 14:38] britanyponvelle commented on #137
Ok! Is it the similar to the "feature" procedure? This one would go in patterns> components?

[2015-03-31 14:40] Snugug commented on #137
Basically copy/paste the `radiogroup` component or any of the other patterns in `base` and update the names as needed.

[2015-03-31 14:46] britanyponvelle commented on #137
Ok I will give it a shot!

[2015-03-31 14:49] Snugug commented on #137
Awesome!

[2015-03-31 16:00] britanyponvelle opened #138 "Design for Color Page"
Visual design for Guidelines> Color page.

[2015-03-31 16:01] britanyponvelle opened #139 "Design for Typography Page"
Visual design for Guidelines> Typography page.

[2015-03-31 16:02] britanyponvelle opened #140 "Design for Accessibility Page"
Visual design for Guidelines> Accessibility page.

[2015-03-31 16:02] britanyponvelle opened #141 "Design for Logo Page"
Visual design for Guidelines> Logo page.

[2015-03-31 16:03] britanyponvelle opened #142 "Design for Wordmark Page"
Visual design for Guidelines> Wordmark page.

- [x] Update colors for logo and wordmark

Tied to #141

[2015-03-31 16:04] britanyponvelle opened #143 "Design for Copy Page"
Visual design for Guidelines> Copy page.

[2015-03-31 16:06] britanyponvelle opened #144 "Design for Homepage"
Visual design for Principles> Introduction page.

Wireframe [here.](http://pages.design.ibm.com/rlhammon/watson-color-palettes/master/axure%20wireframes/principles.html)

[2015-03-31 16:07] britanyponvelle opened #145 "Design for Principles Page"
Visual design for Principles> Design Principles page.

[2015-03-31 16:08] britanyponvelle opened #146 "Design for Grids Page"
Visual design for Guidelines> Grids page.

[2015-03-31 16:09] britanyponvelle opened #147 "Design for Iconography Page"
Visual design for Guidelines> Iconography page.

[2015-03-31 16:13] britanyponvelle opened #148 "Design for Animation Page"
Visual design for Guidelines> Animation page.

[2015-03-31 16:14] britanyponvelle opened #149 "Design for Signature Patterns page"
Visual design for Guidelines> Signature Patterns page.

[2015-03-31 16:18] britanyponvelle commented on #138
See additional exploration [here](https://github.com/IBM-Watson/design-library/issues/74).

[2015-03-31 16:21] britanyponvelle commented on #138
Browsers wider than 1000px:

![wdl-color-large](https://cloud.githubusercontent.com/assets/9538528/6923544/0c971622-d798-11e4-8349-90f66e86b37a.png)

Browsers smaller than 1000px:
![wdl-color-small](https://cloud.githubusercontent.com/assets/9538528/6923563/1e7e0aa8-d798-11e4-8726-a95d1cdce5ec.png)

[2015-03-31 17:53] britanyponvelle commented on #139
Still working on the visual example for the Typographic Scale section. I've updated the content to this:

"IBM Design Language recommends using modular type scales to create harmonious proportions and structure; IBM Watson uses a subset of those scales. IBM Watson recommends the Major Third ratio for screen sizes under 500px, and establishing breakpoints for higher contrast on larger screens. This

[2015-03-31 18:31] poofichu commented on #146
![wdl-grids](https://cloud.githubusercontent.com/assets/6757613/6926195/42bf76ba-d7aa-11e4-9332-2cd274d8e6ca.png)

[2015-03-31 19:11] poofichu commented on #146
![wdl-grids-grey](https://cloud.githubusercontent.com/assets/6757613/6926973/b0f06018-d7af-11e4-8c9a-9bba289383f0.png)

Took out the crayola grid examples.  Liking the grey much better.  @britanyponvelle @Snugug comments?

We're still working with Hayley on the content.  TBD.

[2015-03-31 19:59] britanyponvelle commented on #146
"Crayola" LOL. They grey is nice because it's not so loud, although I do like the way the color helps to break up the blocks of text. Perhaps using values of one color would make it less "crayola"? The visual examples are great! Very informative.

[2015-03-31 20:33] britanyponvelle commented on #139
I want to do an animation of a browser getting wider for the type scale section to show the increasing type size based on breakpoints. @ryanbrownhill could you help me out with something like this?

![screen shot 2015-03-31 at 3 33 10 pm](https://cloud.githubusercontent.com/assets/9538528/6928673/48b67e86-d7bb-11e4-8d3b-108bacc2fbc3.png)
![screen shot 2015-03-31 at 3 32 57 pm](https://cloud.github

[2015-03-31 20:37] britanyponvelle commented on #143
@bobbinrobyn @kathrynmcelroy do we have content for this?

[2015-03-31 20:46] britanyponvelle commented on #142
@kathrynmcelroy @bobbinrobyn What was the reason for breaking up the Wordmark and Logo into two pages? Right now we have this content for the pages:
![screen shot 2015-03-31 at 3 39 50 pm](https://cloud.githubusercontent.com/assets/9538528/6928941/fe95d94e-d7bc-11e4-9283-89b149f12671.png)

I don't think there is enough to break them into two seperate pages. Thoughts?

[2015-03-31 21:15] joshkimmell commented on #142
I think for this, we need to involve Marketing, as well, but I'm not sure it should be separated. Logo do's and don'ts are key. Also, defining "logo" vs. "avatar."

[2015-03-31 21:15] kathrynmcelroy commented on #142
@britanyponvelle Agreed, we can go back to "Logo and Wordmark" as the page title.

[2015-03-31 21:20] britanyponvelle commented on #142
@joshkimmell does marketing have additional material about the do's and don'ts?
What do you mean by defining "logo" vs. "avatar"?

[2015-03-31 21:54] bobbinrobyn commented on #143
@britanyponvelle No content for this yet, and possibly not until after May 6. I would say it's blocked until we work with the marketing team.

[2015-03-31 21:58] bobbinrobyn commented on #142
@britanyponvelle Josh means that our users tend to substitute the logo (the static graphic) in places where they should be using the avatar (the animated graphic with different states like listening, thinking, etc). So we need to have a big disclaimer about when to use the logo (in places like headers, for instance) and when to use the avatar (in places where a user is interacting with Watson).

[2015-03-31 21:59] britanyponvelle commented on #142
ahh I see! Thanks @bobbinrobyn

[2015-03-31 22:29] britanyponvelle commented on #140
Still working on the colors for the visual example. The orange is too much.

![wdl-accessibility-large-06](https://cloud.githubusercontent.com/assets/9538528/6930723/5dc45130-d7cb-11e4-9a8e-300f230274c6.png)

[2015-03-31 23:27] britanyponvelle commented on #140
![wdl-accessibility-large-v3](https://cloud.githubusercontent.com/assets/9538528/6931492/723c2ca2-d7d3-11e4-979a-b796582b16dd.png)

![resources-panel](https://cloud.githubusercontent.com/assets/9538528/6931493/73ed60de-d7d3-11e4-942e-b841998c14b2.png)

Trying out different things for the "resources" panel. Thoughts? @joshkimmell @poofichu

[2015-04-01 00:16] poofichu commented on #140
@britanyponvelle I really like this.  It ties in very nicely with the current design language.  My personal preference is the one with the icon next to each link.

[2015-04-01 14:16] britanyponvelle commented on #140
@joshkimmell: I added the word "links" because sometimes we will have links and downloads. If they are in the same box it could be confusing.

[2015-04-01 14:34] ryanbrownhill commented on #139
@britanyponvelle - Una has done something similar already - maybe we can reuse some of this code. [Responsive Animation](http://codepen.io/unax3/pen/hslpE)

@Snugug what do you think? Shall we do this is code or do it with a video or gif?

[2015-04-01 14:45] kathrynmcelroy commented on #93
Updated Site Map to show how we're setting up the pages.

![library-site-map](https://cloud.githubusercontent.com/assets/5400092/6943446/b5258024-d853-11e4-8cc6-7dbbbebed94f.jpg)

[2015-04-01 15:06] britanyponvelle commented on #140
Update on resources panel:
![screen shot 2015-04-01 at 10 03 13 am](https://cloud.githubusercontent.com/assets/9538528/6943889/7cd8016c-d856-11e4-999b-c0bfaf6f505e.png)
![screen shot 2015-04-01 at 10 03 27 am](https://cloud.githubusercontent.com/assets/9538528/6943888/7cd7dc1e-d856-11e4-916c-251bbebda918.png)
![screen shot 2015-04-01 at 10 03 36 am](https://cloud.githubusercontent.com/assets/95385

[2015-04-01 15:11] britanyponvelle commented on #143
Ok, I will put this on the back burner.

[2015-04-01 15:16] bobbinrobyn commented on #140
Option 2 is my vote - I think it does the best job of keeping the same type of items closer together. If there was an instance with no links, only downloads, would display in the left column?

[2015-04-01 15:16] britanyponvelle commented on #142
@joshkimmell what would be the best way to get marketing involved in this? Should I be spearheading this content?

[2015-04-01 15:23] britanyponvelle commented on #140
That was my thought as well. Keeping the similar content together makes it easier to distinguish between the two. Although, I think keeping the panel full width looks more balanced:

![screen shot 2015-04-01 at 10 22 38 am](https://cloud.githubusercontent.com/assets/9538528/6944403/236aa884-d859-11e4-970a-411061db875b.png)
![screen shot 2015-04-01 at 10 23 14 am](https://cloud.githubusercontent.co

[2015-04-01 15:30] joshkimmell commented on #142
I'll reach out to Marketing.

[2015-04-01 15:35] joshkimmell commented on #140
I agree about the full width. Also, I like the categorical columns. I'm leaning toward a combination of options 2 & 3. Icons next to each resource without column headers, but keeping the resources in grouped columns.

[2015-04-01 15:49] britanyponvelle commented on #140
Here is a combination of those two, using icons and color to differentiate links from files:

![screen shot 2015-04-01 at 10 47 30 am](https://cloud.githubusercontent.com/assets/9538528/6945051/be58dab6-d85c-11e4-8b58-ca14cd1969b8.png)

[2015-04-01 16:12] britanyponvelle commented on #120
@Snugug for this part of the guideline:

Is there a resource you could point me to, so I can back this up? Some of the feedback I got is to provide more reasoning about why we are recommending certain things, so I would like to flesh this out a bit more.

[2015-04-01 16:16] britanyponvelle commented on #140
:+1: ?

[2015-04-01 16:25] bobbinrobyn commented on #140
:+1: !

[2015-04-01 16:31] britanyponvelle commented on #120
![example-typeface-combinations](https://cloud.githubusercontent.com/assets/9538528/6945921/a0cf4678-d862-11e4-8bfe-6f911e123faf.png)

[2015-04-01 16:34] ryanbrownhill commented on #140
:+1:

[2015-04-01 16:48] britanyponvelle commented on #139
Here is a mockup of what I want to do:
![visual-scale-mockup](https://cloud.githubusercontent.com/assets/9538528/6946315/f98a090e-d864-11e4-83b1-1b9a4c1a2438.gif)

[2015-04-01 17:11] Snugug commented on #120
@britanyponvelle Take a read of the [Performance Considerations](http://www.smashingmagazine.com/2013/05/17/typographic-design-patterns-practices-case-study-2013/) section of the Smashing Magazine Typographic Design Patterns Practices Case Study for 2013. Ultimately, it's a performance consideration and may actually change once I see just how heavy the Helvetica fonts are. Basically it comes down

[2015-04-01 18:12] britanyponvelle commented on #95
![color-personality](https://cloud.githubusercontent.com/assets/9538528/6948026/b0050de0-d870-11e4-881c-dd1a8d50d0c0.png)

[2015-04-01 18:14] britanyponvelle commented on #95
![color-swatches](https://cloud.githubusercontent.com/assets/9538528/6948081/04b6a61e-d871-11e4-9548-1e47f09698f7.png)

[2015-04-01 18:39] britanyponvelle commented on #126
Updated visual example

![visual-accessibility](https://cloud.githubusercontent.com/assets/9538528/6948600/7b88cc74-d874-11e4-9007-d20949d62e89.png)

[2015-04-01 18:59] poofichu commented on #149
Blocked!  This content needs to be worked out with @kathrynmcelroy and @joshkimmell

[2015-04-01 19:13] britanyponvelle commented on #120
Great! Thank you. I'll work on this today.

[2015-04-01 19:21] britanyponvelle commented on #120
To your last point:

I think we at least need a "web font performance recommendations" section in Typography. Right now, we have that group into the "Helvetica Neue for IBM" section, and I feel like it should be separated.

[2015-04-01 19:29] kathrynmcelroy commented on #124
@Snugug There are indeed images for each of the Principles' "actionable insights". See the attached image for examples of what @bobbinrobyn is working on for the principle pages

![fullsizerender](https://cloud.githubusercontent.com/assets/5400092/6949655/53046fc2-d87b-11e4-9a29-134ee9d9a7f3.jpg)

[2015-04-01 19:47] Snugug commented on #120
Cool, I can type that up and issue a PR for you to look over; probably Friday given my schedule.

[2015-04-01 19:49] britanyponvelle commented on #120
Oh great! I started something... but struggling pretty hard lol.

"### Performance Considerations
When presenting large amounts of content, it is important to consider how multiple font downloads can effect the browser’s performance for your user. Every weight and style of Helvetica Neue requires a separate download. IBM Watson recommends choosing no more than 4 combinations of weights and styles

[2015-04-01 19:49] britanyponvelle commented on #120
I like your idea better!

[2015-04-01 19:56] poofichu commented on #147
This will be blocked until we can work out the licensing issue with IBM DL team

[2015-04-01 20:11] kathrynmcelroy opened #152 "Define URL Structure for site"
Define the URL structure and redirection guide

[2015-04-01 20:12] kathrynmcelroy opened #153 "Define Page Organization"
Alphabetical or in a defined order? This affects Style pages and Interaction Pages.

[2015-04-01 20:13] kathrynmcelroy commented on #153
For the "Principles" pages, the order will be:
Introduction (includes Values)
Design Principles
Personality (when we add it in the future)

[2015-04-01 20:55] kathrynmcelroy commented on #153
@Snugug If we decide to go with an alphabetical organization to start with, how difficult would it be to later change that to be a specific organization based on our user's priorities?

[2015-04-01 20:57] Snugug commented on #153
It'd be a bit of a rewrite; I'd need to add in bits that weren't there before, but it's something we could work around.

[2015-04-01 21:05] britanyponvelle opened #154 "Write guidelines for Logo and Wordmark"
- [x] Explain the difference between the Watson "logo" and the "avatar"
- [x] Do's and Don'ts of logo and wordmark
- [x] SVG files: how to add color (Use color palette)
- [x] Provide assets to download

View the latest draft in the [wiki](https://github.com/IBM-Watson/design-library/wiki/Wordmark-and-Logotype-guidelines)

[2015-04-01 21:14] britanyponvelle commented on #142
Blocked by #154

[2015-04-01 21:14] britanyponvelle commented on #141
Blocked by #154

[2015-04-01 21:16] bobbinrobyn commented on #145
**Introduce Cognitive**
_Give first-time users a set of "cognitive training wheels" and continue to provide unobtrusive support as needed._

- Clarify Watson’s capabilities with hierarchy, copy, and interactions to help set appropriate user expectations.
- Educate the user throughout the experience without interrupting his or her workflow. Integrate additional explanation into the visual hierarchy

[2015-04-01 21:31] bobbinrobyn commented on #93
@kathrynmcelroy I'm thinking through the header for these pages. Here's my best option (it's not awesome yet):

Principles
*Overview
** Getting Started
** Values
** Design Principles
** Personality (*coming soon*)

[2015-04-01 21:35] bobbinrobyn commented on #93
@kathrynmcelroy I'm thinking through the header for these pages, and I'd love your thoughts. Here are my best options:

Principles
- Overview
-- Getting Started
-- Values
-- Design Principles
-- Personality (*coming soon*)

Vision
- Principles
-- Getting Started
-- Values
-- Design Principles
-- Personality (*coming soon*)

[2015-04-02 13:01] joshkimmell commented on #86
I'll work with Hayley to come up with a name.

[2015-04-02 13:04] kathrynmcelroy commented on #86
She mentioned a naming convention she'd like to try with us. "[Product] Design Guide"

But feel free to follow up with her to finalize.

[2015-04-02 13:25] kathrynmcelroy commented on #93
In the future, do we see any additional internal sections if we went with "Vision"?

My initial instinct is to go with Principles --> Overview, because Principles tested very well for understanding, and I fear that putting it within Vision might not be as intuitive.

Also, "Getting Started" has specific connotations to the developer community, involving installation and starter files. I think we s

[2015-04-02 13:39] joshkimmell commented on #93
"Vision" is too broad and really should be internal only.
I think "Getting Started" is fine if we specify "Getting Started with the Design Guide"

[2015-04-02 15:13] britanyponvelle commented on #140
Updated:
![wdl-accessibility-large-v4](https://cloud.githubusercontent.com/assets/9538528/6966738/dcc6aeaa-d920-11e4-9fe2-bebcdfe510e6.png)

[2015-04-02 15:24] britanyponvelle commented on #138
Updated:

Updated resources panel:
![wdl-typography-large-v6](https://cloud.githubusercontent.com/assets/9538528/6966873/8e0b847e-d921-11e4-944c-ea704d5b0c5d.png)

![wdl-color-small-v2](https://cloud.githubusercontent.com/assets/9538528/6967031/63c2d464-d922-11e4-8497-13e60f5da728.png)

[2015-04-02 15:37] bradbecker commented on #86
I assume this is just for the design guide side not the pattern library

-b

[2015-04-02 15:39] joshkimmell commented on #86
yeah... well... we should come up with a good name for the open source patterns hosted on github separately. It looks like IBM Design will dictate what the guide is named.

[2015-04-02 16:48] britanyponvelle commented on #68
updated:

![wdl-style-tile-v2-06](https://cloud.githubusercontent.com/assets/9538528/6968686/321049c2-d92e-11e4-91de-b63a512a5c03.png)

[2015-04-02 19:15] britanyponvelle commented on #154
First draft: (Thoughts @joshkimmell  @poofichu @kathrynmcelroy @bobbinrobyn ?)

## Wordmark and Logotype
The IBM Watson wordmark and logotype serves as our principal visual reference. It is typeset in Helvetica Neue to align with IBM standards. They should be used in all internal and external communications that focus on the IBM Watson brand.

**Visual Example**
1. Wordmark preview
2. Logotype pre

[2015-04-02 19:42] bobbinrobyn commented on #129
Short answer: no, not right now. I think we can close this issue.

[2015-04-02 19:44] bobbinrobyn commented on #116
![screen shot 2015-04-02 at 2 40 51 pm](https://cloud.githubusercontent.com/assets/9341504/6972039/a0a8ba32-d946-11e4-9ae7-7dc5d32d890c.png)
First few sketches of visual examples for the design principles. They're supposed to be pretty abstract. They could eventually have motion, if it makes sense for the content and would benefit our users.

[2015-04-02 19:47] joshkimmell commented on #116
Hmmm... How are you imagining these in context? Maybe we could see that.

[2015-04-02 19:48] joshkimmell commented on #129
The answer is no. Let's see what the products do without and we can iterate later.

[2015-04-02 19:48] joshkimmell commented on #129
yes to close... no to rounded corners.

[2015-04-02 19:50] #129 closed

[2015-04-03 14:41] britanyponvelle commented on #138
I've removed the box+ orange line from the "Light and Dark Palette" examples because we are using that styling for block quotes. Also, it makes more sense for this text to be apart of the caption.

old:
![screen shot 2015-04-03 at 9 37 50 am](https://cloud.githubusercontent.com/assets/9538528/6983607/9594af6c-d9e5-11e4-8541-79b25490e5e2.png)

updated:
![screen shot 2015-04-03 at 9 38 01 am](https:

[2015-04-03 16:32] britanyponvelle commented on #154
First draft:

## Wordmark and Logotype
The IBM Watson wordmark and logotype serves as our principal visual reference. It is typeset in Helvetica Neue to align with IBM standards. They should be used in all internal and external communications that focus on the IBM Watson brand.

![screen shot 2015-04-03 at 10 56 18 am](https://cloud.githubusercontent.com/assets/9538528/6984592/15f1a9c6-d9f0-11e4-9

[2015-04-03 18:12] britanyponvelle commented on #154
**Color**
The wordmark and logotype for IBM Watson should only appear in the approved color combinations. Any one of the three primary colors for IBM Watson maybe be used in combination with Grey 100 or Neutral 1 for light or dark backgrounds, respectively.

[2015-04-03 18:30] ryanbrownhill commented on #154
@britanyponvelle I would get rid of "as a rule of thumb" in the **Incorrect usage*** section. Seems to relaxed like your giving permission to use it incorrectly. I would also do a side by side visual of the logo vs. avatar.

[2015-04-03 18:36] britanyponvelle commented on #154
Thanks, Ryan! Definitely don't want it to sound that way.

## Wordmark and Logotype
The IBM Watson wordmark and logotype serves as our principal visual reference. It is typeset in Helvetica Neue to align with IBM standards. They should be used in all internal and external communications that focus on the IBM Watson brand.

![screen shot 2015-04-03 at 10 56 18 am](https://cloud.githubusercontent.co

[2015-04-03 18:37] ryanbrownhill commented on #154
:+1:

[2015-04-03 18:43] bobbinrobyn commented on #154
@britanyponvelle In "Spacing Considerations" I would add the word _visual_ to help make the point more obvious: i.e. "elements to avoid _visual_ clutter"

Isn't Grey 100 the same as black? Or is there a slight difference?

And possibly we could be a tiny bit more explicit about the avatar usage: e.g. "The IBM Watson avatar is recommended to be used to communicate Watson's actions in instances when

[2015-04-03 18:45] bobbinrobyn commented on #154
I'm not super happy with that last sentence, but do you see what I mean? Maybe this is better: "The IBM Watson avatar is recommended in situations when Watson is interacting with, aiding, or responding to a user."

[2015-04-03 18:47] britanyponvelle commented on #154
@bobbinrobyn you are right! I meant to type Grey 90 (since we are not recommending pure black in the "Color" section).

Agreed! I was struggling with that section. This is a great addition!

[2015-04-03 18:51] bobbinrobyn commented on #154
@britanyponvelle Okay, awesome! The rest of this looks great. You did an excellent job with the "Do not" examples. I think @joshkimmell will especially appreciate no more cropped Watson logos...

[2015-04-03 18:59] britanyponvelle commented on #154
Ha, thanks!

**A question for all:** For the downloadable assets, should we provide:
1. only  positive (Grey 90) and negative (Neutral 1) versions
or
2. Grey 90, Neutral 1, and combinations with each primary color (Blue 60, Orange 50, and Teal 60)

[2015-04-03 19:01] bobbinrobyn commented on #154
I would provide them all... #peoplearelazy

But we also work with a talented crew of designers who are capable of adding colors themselves. Haha, so I could go either way.

[2015-04-03 19:59] poofichu commented on #154
@britanyponvelle Yeah, the color part confused me a bit.  I would say for old, #fridaybraindead people like me include as many downloadable examples as possible

[2015-04-03 20:01] britanyponvelle commented on #154
Word. I was getting confused typing it. I will export all of the things!

[2015-04-03 20:16] poofichu commented on #145
http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/design_principles.html

[2015-04-03 20:18] joshkimmell commented on #121
![getting_started_v2](https://cloud.githubusercontent.com/assets/8161298/6988208/962f9ba6-da14-11e4-8fac-1c08aaa06773.jpg)

Working on a mockup for responsive... although I'm more concerned with the flow.

[2015-04-03 20:19] joshkimmell commented on #121
is this still too removed from the rest of the site? Since the side navigation is missing... I also think we can simplify the opening paragraph considerably.

[2015-04-03 20:24] kathrynmcelroy commented on #154
Visual examples of the acceptable color combinations would be helpful.

In the spacing section, is "x" the "x-height" of the wordmark/logotype? If so, we should show (with lines extended further into the wordmark space) that that's what "x" means. (we need to not assume that everyone immediately knows what an "x-height" means)

[2015-04-03 20:24] kathrynmcelroy commented on #154
+1 to Robyn's suggestion for further avatar distinction

[2015-04-03 20:30] bobbinrobyn commented on #121
I think the hierarchy of the information is spot-on :+1:

I don't think think the side nav can just go missing, but I bet you can integrate this layout into what we already have designed.

I don't love those 3 "Get Started" buttons. What if we eliminated them, and instead just made each of those headings a link to its respective section?

[2015-04-03 20:30] kathrynmcelroy commented on #121
I think the Introduction section should be better integrated in the "Principles" section, including having the navigation. It's not just a splash page, it's the first sub-section of the "Principles" section.

I don't think we need to spell out what each of the sections are; in user testing the IA and navigation, almost everyone could easily distinguish between "Principles" and "Guidelines". What w

[2015-04-03 20:31] kathrynmcelroy commented on #121
It should also have the "Next" button on the bottom that directs the user on to the "Values", which is the next sub-section.

[2015-04-03 20:33] bobbinrobyn commented on #121
Agreed @kathrynmcelroy. That came up in user testing as a demonstrated need - at least one or two sentences to explain what Watson/cognitive is.

[2015-04-03 20:34] kathrynmcelroy commented on #121
The middle is completely open for content/design, but here's what the bottom should look like from Jessica's mock-up: http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/index.html

[2015-04-03 20:35] joshkimmell commented on #121
Next button: totally agree. I just wanted to get the content in.

[2015-04-03 20:39] kathrynmcelroy commented on #153
@joshkimmell  Did we decide to go with alphabetical for the page organization? (for Guidelines)

[2015-04-03 20:40] kathrynmcelroy commented on #121
Based on this mockup, did we decide to move "Values" to its own page? Or will it be added to this introduction page to further introduce "cognitive/Watson" to the users?

[2015-04-03 20:54] joshkimmell commented on #121
So... Here's the hierarchy as I believe we understand it:
# Introduce Watson (cognitive)
# Introduce the Design Guide
# Explain how to use the Guide???
# Explain how to use the UI Patterns???
# Provide clear calls to action???

[2015-04-03 20:54] joshkimmell commented on #121
Whoa... I need to re-learn markdown.

[2015-04-03 21:01] joshkimmell commented on #121
2.5. Watson Design Values???

[2015-04-03 21:02] kathrynmcelroy commented on #121
The original hierarchy for this page was:
- Introduction to Watson
- Introduction to Design Guide and why/how to use it
- Watson high-level values (however they end up, but currently Heroic, Helpful, and Humane)

Then it goes on to the "Next page:" of Design Principles, and later we'll add in the Personality page after that, all within the Principles section

What kind of calls to action do we nee

[2015-04-03 21:02] britanyponvelle commented on #154
@kathrynmcelroy X represents the height of the wordmark, not the x-height of the typeface. I will play around with it to try to make that more clear

[2015-04-03 21:03] kathrynmcelroy commented on #154
Gotcha! Thanks for the clarification.

[2015-04-03 21:14] joshkimmell commented on #121
Okay... I can work with that, but one thing I think we're missing is the instructions for devs to use the patterns.

[2015-04-03 21:20] joshkimmell commented on #121
Okay... here's where I'm leaving it today. Let's discuss more on Monday. Have a good weekend!!!

![getting_started_v3](https://cloud.githubusercontent.com/assets/8161298/6989091/6389c330-da1d-11e4-9d7f-a76bb74cd884.jpg)

[2015-04-03 21:21] kathrynmcelroy commented on #121
@joshkimmell Looking great!

Could the dev instructions live on the UI Pattern page? With additional information about how to use each type of pattern on that pattern type's page. We can discuss further on Monday.

[2015-04-03 21:22] joshkimmell commented on #121
Yes, they could. Thanks!

[2015-04-03 21:38] bobbinrobyn commented on #116
Here's all the visuals I mocked up! I'll upload them by principle.
![p1-01](https://cloud.githubusercontent.com/assets/9341504/6989323/d758a608-da1f-11e4-9437-1d323caa4b97.png)
![p1-02](https://cloud.githubusercontent.com/assets/9341504/6989319/d74e91a4-da1f-11e4-9cba-7c79593fac03.png)
![p1-03](https://cloud.githubusercontent.com/assets/9341504/6989320/d7553ea0-da1f-11e4-980b-fe27a01c917d.png)
![p

[2015-04-03 21:39] bobbinrobyn commented on #116
Principle 2: Inform Interactions
![p2-09](https://cloud.githubusercontent.com/assets/9341504/6989346/f7b1a9cc-da1f-11e4-9441-114f3cfd483c.png)
![p2-10](https://cloud.githubusercontent.com/assets/9341504/6989347/f7bf0946-da1f-11e4-82f6-c09b1a01a3f3.png)
![p2-11](https://cloud.githubusercontent.com/assets/9341504/6989349/f7c25556-da1f-11e4-8eb4-03f0b2bf7dad.png)
![p2-12](https://cloud.githubusercont

[2015-04-03 21:40] bobbinrobyn commented on #116
*Principle 3: Offer Control*
![p3-13](https://cloud.githubusercontent.com/assets/9341504/6989363/17a7d530-da20-11e4-9d4f-73aa1d074a42.png)
![p3-14](https://cloud.githubusercontent.com/assets/9341504/6989364/17a8157c-da20-11e4-8b80-698b46b42106.png)
![p3-15](https://cloud.githubusercontent.com/assets/9341504/6989365/17aa434c-da20-11e4-9b06-260204fdbbf3.png)
![p3-16](https://cloud.githubusercontent.

[2015-04-03 21:44] bobbinrobyn commented on #116
There are many other things to consider, such as:
* What would these look like without a device in the image?
* How will we display multiple images for a sub-principle?
* What will the final copy be?
* If the image is showing a recommendation for copy, should there be an interface at all?
* Would it be helpful to use the same interface (e.g. the orange phone UI) for all of the sub-principles under

[2015-04-05 21:56] poofichu commented on #146
http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/grids.html

Grid page coded and up for review.  Visual examples redone to have darker accents.  Video created at the bottom with responsive grid example.  @channel any feedback?

[2015-04-05 22:48] poofichu commented on #127
The core team is working on getting the license going, but having the icons open sourced will most likely not be ready for release candidate 1. @Snugug I believe we agreed to not have anything shown for the first release unless the files were open sourced.  Continuing to leave this blocked .

[2015-04-05 22:53] poofichu commented on #144
Relies on #121.  Moving to blocked until content is determined.

[2015-04-06 14:34] britanyponvelle commented on #146
This is looking great! Using the caption size text next to the body copy for this makes it kind of look like  a disclaimer rather than a quote. What do you think?

[2015-04-06 14:36] Snugug commented on #146
Agreed with @britanyponvelle, not sure why the blockquotes have smaller fonts; our official blockquote pattern has it at 1em.

In general, I want to make sure that we are in fact using the standard styling from our pattern library for this as much as possible in order to avoid this being a one-off and not dogfooding our own work.

[2015-04-06 14:39] britanyponvelle commented on #139
Here is a rendered version of this page:

http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/typography.html

I haven't added the gif because I am not sure how to build this yet. (for now I left a placeholder box). Thoughts?

[2015-04-06 14:40] joshkimmell commented on #146
I agree. IF we feel that the default styling isn't working, we should change the default styling in the pattern.

[2015-04-06 14:43] britanyponvelle commented on #140
http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/accessibility.html

Accessibility coded!

[2015-04-06 14:45] Snugug commented on #139
For the asides we have, like the mention of currently investigating usage rights, we shouldn't have these as `blockquotes`. A blockquote is meant to be ["…section that is quoted from another source."](http://html5doctor.com/element-index/#blockquote). Instead, notes like this should be `aside`s and styled differently.

[2015-04-06 14:46] britanyponvelle commented on #74
I have been thinking about the colored bar on the left nav bar, and I think it might be a good idea to leave it off. It doesn't really add any extra value (especially on small screens since it's so far right) and kind of feels like decoration right now. Thoughts on something like this?

![nav-large](https://cloud.githubusercontent.com/assets/9538528/7005853/c4560ce8-dc41-11e4-8801-e6adbac7741c.png

[2015-04-06 14:48] britanyponvelle commented on #74
with hover states:
http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/typography.html

[2015-04-06 14:52] bobbinrobyn commented on #146
Haha, that is an awesome Stephen Hay quote. A few thoughts:

1. Can this sentence be reworded to make it a little clearer? Right now it says, "Instead, grids need to be fluid and flexible, extending out from our content out." But maybe it could say, "Instead, grids need to be fluid and flexible, beginning with the content and extending out from there."

2. This sentence should be split into two se

[2015-04-06 14:55] britanyponvelle commented on #141
I am working on the content for this page in #154. It should be unblocked by OTD.

[2015-04-06 14:55] britanyponvelle commented on #142
I am working on the content for this page in #154. It should be unblocked by OTD.

[2015-04-06 15:15] britanyponvelle commented on #138
Updated swatches in "Choosing A Color Palette":

The four column looked tight visually (especially with the text inside) so I wanted to see what two columns would look like. I favor this version because there is more breathing room around the content and easier to skim. Thoughts on this?

![screen shot 2015-04-06 at 9 59 29 am](https://cloud.githubusercontent.com/assets/9538528/7006337/e7511b80-dc

[2015-04-06 15:31] una commented on #74
I love the navigation on the header bar. As far as the sidebar goes, I am unsure about the hover state being bolded because it causes a jump in the width of the text (extra padding for each character due to the increased weight). Perhaps try using an icon on the left of the item to indicate hover?

Also, when you hover over the already-selected state, the font weight becomes lighter than its curre

[2015-04-06 15:31] kathrynmcelroy commented on #74
I agree that the color bar isn't helping much on the right side, but it could live on the left as a quicker visual indicator.

[2015-04-06 15:34] pridkett opened #155 "Contrast between black text and accent colors is insufficient on LCD projectors"
I was at a brief presentation of the emerging design library in Littleton last week and one of the things shared was the color guidelines (see: https://github.com/IBM-Watson/design-library/wiki/Color-Guidelines). While the colors render wonderfully on rich displays with good lighting (e.g. MacBook displays, HDTVs in rooms with proper lighting), on poor displays that color contrast is insufficient.

[2015-04-06 15:35] bobbinrobyn commented on #138
Wooo, yes! The 4 column swatches were good, but I think this is better.

[2015-04-06 15:37] kathrynmcelroy commented on #138
I think this looks great!

[2015-04-06 15:39] britanyponvelle commented on #74
@una I agree on the multiple bolded weights. There should only be one, which could have gotten mixed up in the prototype. Right now we have 400 as body text, and either 600 or 700 for bold. Thanks for the heads up :)

[2015-04-06 15:39] britanyponvelle commented on #74
@kathrynmcelroy I like that suggestion! I will play around with that today.

[2015-04-06 15:57] britanyponvelle commented on #154
Updated spacing example and avatar distinction:
@channel thoughts?

---

## Wordmark and Logotype
The IBM Watson wordmark and logotype serves as our principal visual reference. It is typeset in Helvetica Neue to align with IBM standards. They should be used in all internal and external communications that focus on the IBM Watson brand.

![screen shot 2015-04-03 at 10 56 18 am](https://cloud.github

[2015-04-06 15:58] poofichu commented on #148
@ryanbrownhill To get introduction paragraph and *maybe* animation example for this page.

[2015-04-06 15:58] britanyponvelle commented on #154
Here is an alternate version of  the spacing example:
![ibm_watson_workmark-test-06](https://cloud.githubusercontent.com/assets/9538528/7007069/ebc4cdf0-dc4b-11e4-8987-02cb5889faa3.png)

[2015-04-06 16:03] britanyponvelle commented on #154
Alternative to spacing example:

![ibm_watson_workmark-test-blocks-06](https://cloud.githubusercontent.com/assets/9538528/7007138/893c1e44-dc4c-11e4-847f-4d74182d54c0.png)

[2015-04-06 16:04] ryanbrownhill commented on #148
Content sketch:

# Animation
This is an intro paragraph the outlines IBM Motion sections and links out :neutral_face:
## Animation Library
This is a description of the animation library that we are providing. Here is a link out of how to use this. Feel free to contribute here.

[2015-04-06 16:14] kathrynmcelroy commented on #154
I like the gray because it visually indicates the spacing without needing a key!

[2015-04-06 16:15] britanyponvelle commented on #154
thanks @kathrynmcelroy !

[2015-04-06 16:57] poofichu commented on #74
I'm with @kathrynmcelroy on that one.  The side navigation needs just a little something more as an effective active page indicator.

[2015-04-06 17:14] poofichu commented on #146
@britanyponvelle Good catch on the blockquote.  It was leftover CSS from back when we had a the orange bar on the caption... Back to 1em.  Let's discuss width/padding too.

@bobbinrobyn I made the text changes you suggested.  Here's the examples with the colors "flipped":
I'm torn.  Thoughts @joshkimmell @Snugug @britanyponvelle ?

![image](https://cloud.githubusercontent.com/assets/6757613/700826

[2015-04-06 17:47] poofichu commented on #154
@kathrynmcelroy +1 to the grey!

[2015-04-06 17:50] joshkimmell commented on #138
I like it better. Is anyone thinking about the display of the color values within the box? I think some categorization or hierarchy (maybe animation) could make for a more elegant experience.

[2015-04-06 17:55] joshkimmell commented on #146
I like this better. The lighter tones are easier to decipher.

[2015-04-06 18:10] bobbinrobyn commented on #116
Thanks to @poofichu for making this rocking prototype! I'm user testing the principles this afternoon. http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/design_principles.html

[2015-04-06 18:14] bobbinrobyn commented on #146
I'm not sure, I could see going with either option. If I had to choose, I think I would go with this lighter option, where the columns are the darker gray. But I think either the light or the dark could work well!

[2015-04-06 18:54] britanyponvelle commented on #146
I think the last version is the strongest. The dark grey is reserved for content (which would be inside of the columns) versus putting heavy emphasis on padding space so I think it makes the most sense!

[2015-04-06 19:06] kathrynmcelroy commented on #146
I prefer the lighter gray as the background. It puts the focus on the darker gray content, which makes up the grid.

[2015-04-06 19:07] joshkimmell commented on #146
I think it's decided. Anyone want to argue for the dark borders?

[2015-04-06 19:08] poofichu commented on #146
Thanks for the feedback guys!  Updating the assets....

[2015-04-06 19:10] britanyponvelle commented on #154
@joshkimmell thoughts on the guidelines?

[2015-04-06 19:12] joshkimmell commented on #154
Yep. I like the grey.

[2015-04-06 19:17] britanyponvelle commented on #138
@joshkimmell I left the titles as the same size as the values because I didn't think it made sense to put too much emphasis on the name of the color. Right now it is differentiated by the bold text. Do you think there should be more hierarchy between the titles (Choose and Accent color) and the swatch?

[2015-04-06 19:39] joshkimmell commented on #138
Not that we should mimic what IBM Design Language is doing, but maybe use their's for inspiration? Let's discuss.

[2015-04-06 19:48] bobbinrobyn commented on #74
Passing along some user feedback... the bottom nav looks very similar to Material Design. When this finally does go public, she worries that people will think it looks like we stole it from them.

I realize there are arguments for and against. It's not like Google has dibs on that navigation pattern, and it's something we're borrowing from IBM Design. But I thought it was worth it to at least ment

[2015-04-06 19:52] britanyponvelle commented on #74
That is good feedback... I just looked and it is very similar. That being said, the IBM Design is also similar. I will chew on this...

[2015-04-06 19:53] Snugug commented on #74
![Chewing](http://i.imgur.com/rCHESpZ.gif)

[2015-04-06 19:54] britanyponvelle commented on #74
/facepalm

[2015-04-06 19:59] bobbinrobyn commented on #74
Hehehe. That's so good @Snugug

[2015-04-06 20:03] poofichu commented on #146
http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/grids.html

Assets updated to light grey background!

[2015-04-06 20:08] joshkimmell commented on #146
Great! Could you also change the name to Watson Design Guide?

[2015-04-06 20:34] ryanbrownhill commented on #140
Updated content with animation accessibility

https://github.com/IBM-Watson/design-library/wiki/Accessibility-Guidelines

[2015-04-06 20:37] ryanbrownhill commented on #146
![screen shot 2015-04-06 at 3 36 09 pm](https://cloud.githubusercontent.com/assets/9538395/7011904/b9391784-dc72-11e4-97ca-3bd820c2f659.png)
@poofichu  - Something is happening with the floating nav - IDK if this is a known problem

[2015-04-06 20:37] poofichu commented on #146
@ryanbrownhill refresh your browser.  It's a buggy jQuery script thing.

[2015-04-06 20:38] ryanbrownhill commented on #146
@poofichu --- Yes that fixes it.

[2015-04-06 20:43] joshkimmell commented on #74
@poofichu The menu is "jumpy" in smaller format.

[2015-04-06 20:45] poofichu commented on #74
@joshkimmell You're going to have to be more specific than that.  I'm heading upstairs.

[2015-04-06 20:46] joshkimmell commented on #74
"jumpy".... you know... "jumpy"

[2015-04-06 20:51] kathrynmcelroy commented on #146
For this round of feedback, I'm doing a bit of copy-editing for this section.
- We're using a lot of "our" in this write-up, and we don't do that elsewhere. We should probably tune down the "our"s and make it a little more general, in the edited text I've changed out a few of these for alternatives
- Edited the grammar a bit; there's still a bit of passive voice, but it's ok in context
I'll send t

[2015-04-06 20:52] kathrynmcelroy commented on #146
Updated text:

Grids enforce proportion and constraint upon our designs, providing order and structure to information. The best grid is specific to the displayed content and the design, as it is an extension of both. When used correctly, a grid will enhance, balance, and structure content, so users can read and view the information with ease.

Grids do not exist in a vacuum. They exist in relation

[2015-04-06 20:56] kathrynmcelroy commented on #146
Design looks great!

[2015-04-06 21:00] kathrynmcelroy commented on #138
@britanyponvelle Updated Color text:
The colors chosen for IBM Watson are flexible and distinguish Watson as a brand across all user experiences. The colors chosen for IBM Watson were developed using color psychology to support the Watson brand attributes, reinforce Watson's personality, and set the tone of each specific product.

Choose a primary color, a secondary color, and an accent color. Add

[2015-04-06 21:20] kathrynmcelroy commented on #140
@ryanbrownhill Updated Accessibility text:

When choosing colors and contrast ratios for typography it is important to adhere to the IBM Design Language recommendations for accessibility, as we must meet WCAG 2.0 AA requirements. High color contrast helps users who are partially or completely color blind see differences between certain colors. It creates a strong visual hierarchy and improved usab

[2015-04-06 21:32] joshkimmell opened #156 "404 Error page"

[2015-04-06 21:35] bobbinrobyn commented on #116
@Snugug & @kathrynmcelroy: Did y'all do a content model for this? Could y'all refresh my memory on how long the "short description" needs to be and an instance of where it might appear? Thanks!

[2015-04-06 21:36] bobbinrobyn commented on #116
Is it the kind of thing that would appear in a call-out box when we reference a principle on another page?

[2015-04-06 21:39] joshkimmell commented on #121
![getting_started_v4](https://cloud.githubusercontent.com/assets/8161298/7013026/87bb03bc-dc7b-11e4-9bac-d7df5fb7c5d7.jpg)

[2015-04-06 22:16] bobbinrobyn commented on #116
Unsynthesized user research is here: https://releaseblueprints.ibm.com/display/WDA/Design+Principles
Synthesis & a new iteration is coming in the morning!

[2015-04-06 22:55] poofichu commented on #146
http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/grids.html

Page updated with new content

[2015-04-06 23:02] poofichu opened #157 "Design for Values Page"
http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/values.html

Helpful
<Need Paragraph>

Heroic
<Need Paragraph>

Humane
<Need Paragraph>

[2015-04-07 13:42] joshkimmell commented on #157
Problem with this: there is no content. We may want to have some version of Brad's Vision instead.

[2015-04-07 14:25] britanyponvelle commented on #154
@joshkimmell @kathrynmcelroy @poofichu what do you think about this for distinction between the logo and avatar? The goal is to make it clear that the logo maybe be used alone, but not for reconfiguring the logotype.

---

### Logo versus Avatar
The logo for IBM Watson serves as the visual representation of the brand. The logo may be used outside of the logotype configuration as a static element a

[2015-04-07 14:51] Snugug commented on #146
@kathrynmcelroy Please update the copy [on the Wiki page](https://github.com/IBM-Watson/design-library/wiki/Grids) so we can preserve the markdown and structure.

[2015-04-07 14:53] kathrynmcelroy commented on #146
@Snugug Didn't realize (until now) that I could edit someone else's wiki page.

That being said, I've been giving edited text to the authors to decide if they want to use/keep any of my changes versus the original, and then they should be updating the wiki based on what they decide.

[2015-04-07 14:53] britanyponvelle commented on #146
:+1:

[2015-04-07 14:54] ryanbrownhill commented on #146
:+1: Looks and Reads great!

[2015-04-07 14:54] poofichu commented on #146
@Snugug I'm still working with her on a few things, then I'll update the wiki with the new content

[2015-04-07 14:55] Snugug commented on #146
@poofichu @kathrynmcelroy The Wiki is a Git repository as well. Any changes you make get automatically tracked. If we want to revert to a previous version, it's the same as any other Git repo.

[2015-04-07 14:56] ryanbrownhill commented on #140
@kathrynmcelroy Updated the Wiki this your edits! Thanks!

[2015-04-07 14:57] poofichu commented on #146
![image](https://cloud.githubusercontent.com/assets/6757613/7025973/88b87902-dd0c-11e4-9280-e30cfa1d3fd9.png)

[2015-04-07 14:58] bobbinrobyn commented on #146
:+1:

[2015-04-07 14:59] kathrynmcelroy commented on #140
My only other comment is that the Animation section repeats some of the Visual section, and adds more about visual that isn't in the first paragraph, specifically: "guidelines set in the IBM Design Language Visual Section including: color contrast, descriptive labels, and meaningful text."

I'm wondering if we should move that to the Visual paragraph, and then refer to it in the Animation paragrap

[2015-04-07 15:01] kathrynmcelroy commented on #146
:+1:

[2015-04-07 15:03] kathrynmcelroy commented on #140
One other edit on this sentence:

Do not include anything that flashes, or can be considered a flash, more than twice per second; it can negatively affect those prone to seizures.

[2015-04-07 16:04] ryanbrownhill commented on #93
This issue needs more work on the pattern side of the IA before close.

[2015-04-07 16:08] #77 closed

[2015-04-07 16:24] bobbinrobyn opened #159 "Design for Brand Attributes page"
It will live under the "Branding" category of the Guidelines, and will display this content:

![screen shot 2015-04-07 at 11 24 07 am](https://cloud.githubusercontent.com/assets/9341504/7027998/a0f37f74-dd18-11e4-99f1-795932361fa1.png)

[2015-04-07 16:26] britanyponvelle commented on #139
@ryanbrownhill says he will help me make this visual example today.

@Snugug agreed. I will work on this.

[2015-04-07 16:26] joshkimmell commented on #153
let's start with alphabetical

[2015-04-07 16:28] bobbinrobyn commented on #159
This is the content: https://github.com/IBM-Watson/design-library/wiki/Brand-Attributes

[2015-04-07 16:29] ryanbrownhill commented on #139
@una has done something similar on codepen - maybe we can reuse some of this code. [Responsive Animation](http://codepen.io/unax3/pen/hslpE)

@Snugug what do you think? Shall we do this is code or do it with a video or gif?

[2015-04-07 16:31] bobbinrobyn commented on #159
Hey @britanyponvelle, this is a super basic page that only has text. Let me know if you need anything else!

[2015-04-07 16:32] joshkimmell commented on #62
not implementing for the first release

[2015-04-07 16:35] bobbinrobyn commented on #116
Copy for the principles has been updated in the wiki: https://github.com/IBM-Watson/design-library/wiki/Design-Principles

I'll add the synthesized research to the wiki ASAP.

[2015-04-07 16:36] Snugug commented on #116
If copy is final, please work on getting it into a PR and out of the Wiki

[2015-04-07 16:38] kathrynmcelroy commented on #152
/Principles --> goes to /Principles/GettingStarted
/Principles/GettingStarted
/Principles/DesignPrinciples

/Guidelines --> goes to /Guidelines/Style/Accessibility

/Guidelines/Style/ --> goes to /Guidelines/Style/Accessibility
/Guidelines/Style/Accessibility
/Guidelines/Style/Color
/Guidelines/Style/Iconography
/Guidelines/Style/Grids
/Guidelines/Style/Typography

/Guidelines/Interaction --> goes

[2015-04-07 16:41] kathrynmcelroy commented on #153
For the "Principles" pages, the order will be:
Getting Started
Design Principles
Personality (future)

For Guidelines pages - Specific order for sections, sub-sections are alphabetical:
Style
- Accessibility
- Color
- Iconography
- Grids
- Typography

Interaction
- Animation
- Signature Patterns

Branding
- Wordmark and Logo

[2015-04-07 16:59] ryanbrownhill commented on #148
@poofichu
Here is the content - feel free to take a pass for wording / grammar.
## Animation

Motion is a fundamental element of user experience design because it demonstrates the emotional quality and vitality of the product. It gives non-verbal communication to the user and is the body language of a product. Within software, motion is conveyed through the process of animation – "the illusion of

[2015-04-07 17:07] bobbinrobyn commented on #116
Okay, awesome. I'm meeting with @ryanbrownhill to make that happen.

[2015-04-07 17:09] kathrynmcelroy commented on #148
Animation
Motion is a fundamental element of user experience design because it demonstrates the emotional quality and vitality of the product. It gives non-verbal communication to the user and is the body language of a product. Within software, motion is conveyed through the process of animation—"the illusion of movement through a sequence of images."

Motion design enhances communication througho

[2015-04-07 17:32] britanyponvelle commented on #154
Here is the update in browser:

http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/wordmark-logotype.html

Question: for the "Logo versus Avatar" section, will we have the avatar to show as a visual example? for now I am leaving this blank.

[2015-04-07 17:36] bobbinrobyn commented on #116
@channel: I added short descriptions and the intro paragraph to the design principles. I also tweaked the copy just a little bit. It would be great if you can read over these and give me any last feedback; otherwise, I'm going to call it done.

[2015-04-07 17:36] bobbinrobyn commented on #116
https://github.com/IBM-Watson/design-library/wiki/Design-Principles

[2015-04-07 17:39] britanyponvelle commented on #140
@kathrynmcelroy I agree, we should move the content about general visual design to the top paragraph, and leave the content about animation in the bottom.

[2015-04-07 17:48] britanyponvelle commented on #140
Here is updated content:

---

### Accessibility

#### Visual

Visual design should follow the guidelines set in the IBM Design Language Visual Section including: color contrast, descriptive labels, and meaningful text. When choosing colors and contrast ratios for typography it is important to adhere to the IBM Design Language recommendations for accessibility, as we must meet WCAG 2.0 AA requirem

[2015-04-07 17:49] bobbinrobyn commented on #145
Today @poofichu and I discussed some changes, including:
* reduce spacing between title of principle and the long description
* changing the styling of the long description (on the condition that I find other content that can adopt the same styling, so that it's not just a one-off custom styling for a single piece of content)
* increase spacing between sub-principle chunks (a chunk being image + c

[2015-04-07 17:49] joshkimmell commented on #154
- Move color usage above incorrect usage and add examples of incorrect color usage to the later.
- Not enough difference in color between H2, H3 and H5. Different treatment of H3, whether color, size or text-decoration would help.
- Eventually, we need to say something about not using the logo as a button to interact with, or *ASK* Watson.

[2015-04-07 18:01] kathrynmcelroy commented on #140
Looks great! I have a couple tiny things:
- take out the colon after "including" (I originally put it there, but I don't think it needs one)
- take the dash out of "color blind"
- "In addition to the fundamental visual accessibility guides, animation has its own set of considerations."

[2015-04-07 18:50] britanyponvelle commented on #140
Great, thanks @kathrynmcelroy ! I have updated all of the changes in the [wiki](https://github.com/IBM-Watson/design-library/wiki/Accessibility-Guidelines). Adding this to the prototype now!

[2015-04-07 19:13] britanyponvelle commented on #140
I added the content to the prototype: http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/accessibility.html

[2015-04-07 19:14] britanyponvelle commented on #140
:+1: ?

[2015-04-07 19:14] joshkimmell opened #160 "Rewrite Brand Attributes for public consumption"
Guidance from Marketing:
- less aspirational
- more of a statement of guidance
- "not to be construed as "we want Watson to be perceived as trustworthy"

[2015-04-07 19:56] britanyponvelle commented on #154
Updated content in "Specifications"

http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/wordmark-logotype.html

[2015-04-07 20:07] britanyponvelle commented on #138
Content updated in the prototype:

http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/color.html

[2015-04-07 20:10] britanyponvelle commented on #138
Updated swatch image for wiki:
![screen shot 2015-04-07 at 3 09 30 pm](https://cloud.githubusercontent.com/assets/9538528/7032400/28bb9346-dd38-11e4-9188-a6ec54ee7dd8.png)

[2015-04-07 20:27] kathrynmcelroy commented on #140
There's one link that's messed up in the prototype (2.3a), but other than that: :+1:

[2015-04-07 20:37] britanyponvelle commented on #139
Updated typography content: http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/typography.html

@ryanbrownhill is working on the animation for the visual example

[2015-04-07 20:40] poofichu commented on #144
http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/index.html

New content in, Josh approved and ready for review.

[2015-04-07 21:14] poofichu commented on #138
Direct links to IBM Design Language!!!
http://www.ibm.com/design/language/framework/visual/color.shtml#contrast

[2015-04-07 21:28] britanyponvelle commented on #140
We are deleting the links to the W3 page because 3rd party users cannot access them

[2015-04-07 21:42] kathrynmcelroy commented on #139
Text edits:
- change effect to affect, and getting rid of 'your' "When presenting large amounts of content, it is important to consider how multiple font downloads can affect the browser’s performance for the user."
- changed a few words for consistency across the sentence: "IBM Watson recommends the Major Third ratio for screen sizes under 500px and the establishment of breakpoints for higher con

[2015-04-07 22:07] joshkimmell commented on #86
Closing this as Determine name for the design guide.

[2015-04-07 22:07] #86 closed

[2015-04-07 22:11] joshkimmell opened #161 "Determine and purchase URL"
We need a URL for the site.

[2015-04-07 22:13] joshkimmell commented on #161
ibmwatsondesign.com, ibmwatson.io, iamwatson.com/guide/

[2015-04-07 22:16] britanyponvelle commented on #140
@ryanbrownhill Josh wants to know if we can add a visual examples to the "Animation" example. Thoughts?

[2015-04-07 22:24] ryanbrownhill commented on #148
Thanks @kathrynmcelroy updated the wiki with the changes

[2015-04-07 22:26] poofichu commented on #148
Content added to the prototype.  @joshkimmell would you want an example animation on this page for some visual "umph" ?

http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/animation.html

[2015-04-07 22:40] britanyponvelle commented on #154
Updated content:

---

## Wordmark and Logotype
The IBM Watson wordmark and logotype serves as our principal visual reference. It is typeset in Helvetica Neue to align with IBM standards. It should be used in all internal and external communications that focus on the IBM Watson brand.

**Resource**
Wordmark and logotype SVG

### Specifications
**Spacing considerations**
Use only the supplied artwo

[2015-04-07 22:41] britanyponvelle commented on #154
@kathrynmcelroy: @joshkimmell felt that the first sentence on this page is too vague:

Could you help me write something more direct?

[2015-04-07 22:48] ryanbrownhill commented on #140
I don't want to include "before / after" because it might cause seizures. The best example we can show is a pause, play controler for animations that last longer than 5 seconds.

[2015-04-07 22:54] britanyponvelle commented on #139
Thanks for the feedback! I need to adjust the spacing around the font combinations. Something is conflicting here.

[2015-04-08 14:21] britanyponvelle commented on #71
@poofichu @joshkimmell What do you think about these treatments for block quotes and the "aside" boxes?

![block-quote-aside-box-07](https://cloud.githubusercontent.com/assets/9538528/7047136/3d50e106-ddd0-11e4-813c-4d4a308e4fdd.png)

[2015-04-08 14:23] Snugug commented on #71
I'd avoid the bar on the side for the `aside` as it's a common pattern for `blockquotes` and users may get confused.

I'd also have us avoid using the same (or similar ) styling for `blockquote` and `aside`

[2015-04-08 14:26] britanyponvelle commented on #71
Agreed, the two should be different. If the side bar stays for the `block quote`, we won't use it for  `aside`

[2015-04-08 15:07] poofichu commented on #71
I still like the orange bar on the side for `blockquote`.  And I'm kind of digging the blue bar on top for the `aside`

[2015-04-08 15:14] britanyponvelle commented on #71
Here is the `aside` box with the grey
http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/typography.html

Caption size text and 75% width. Thoughts? I will test the teal too!

[2015-04-08 15:25] britanyponvelle commented on #71
Teal option:
![teal-bar-small](https://cloud.githubusercontent.com/assets/9538528/7048578/7c93e058-ddd9-11e4-893b-f603bc2f16b3.png)
![teal-bar-large](https://cloud.githubusercontent.com/assets/9538528/7048581/80aac300-ddd9-11e4-8dee-68fd14c58c9f.png)

Grey option:
![grey-bar-small](https://cloud.githubusercontent.com/assets/9538528/7048586/87b9e5e0-ddd9-11e4-9a23-5423b69c5746.png)
![grey-bar-large

[2015-04-08 15:31] bobbinrobyn commented on #116
This is where I'm heading with the final visuals for the principles. Any thoughts, @channel?
![p1-01](https://cloud.githubusercontent.com/assets/9341504/7048731/55c0078a-ddda-11e4-90fe-dd9d75f74222.png)
![p1-02](https://cloud.githubusercontent.com/assets/9341504/7048730/55beeada-ddda-11e4-91d0-c0f2e0bae868.png)
![p1-03](https://cloud.githubusercontent.com/assets/9341504/7048729/55be3626-ddda-11e4-

[2015-04-08 15:32] britanyponvelle commented on #71
I think the teal breaks up the black text nicely without making itself the focal point.

[2015-04-08 15:32] joshkimmell commented on #71
agreed.

[2015-04-08 15:33] bobbinrobyn commented on #71
I'm a fan of the teal bar!

[2015-04-08 15:35] britanyponvelle commented on #71
:+1:

[2015-04-08 15:36] poofichu commented on #71
:+1:

[2015-04-08 15:48] britanyponvelle commented on #121
The centered text on this page feels disconnected from the other pages (since we don't center text anywhere else). Also, I don't know if the bolded text in the titles adds value here. Since the text is set in an H tag, I think that could be enough distinction from the body text. Especially in "Meet Watson", because it almost looks like we are recreating the logo with the regular paired with bold H

[2015-04-08 15:52] Snugug commented on #116
How does this all work responsively? I'd love to see us thinking more mobile-first with everything we're doing

[2015-04-08 16:02] britanyponvelle commented on #116
If we added an indicator like (1) to the image and (1) to the caption, instead of a connecting line, we could move the caption underneath the visual example for small screens?

[2015-04-08 16:02] poofichu commented on #116
@britanyponvelle FTW!  I love that idea.

[2015-04-08 16:04] britanyponvelle commented on #116
I love the colors here @bobbinrobyn ! Very nice :)

[2015-04-08 16:05] Snugug commented on #116
I'm concerned we're veering towards one-off pages for everything and will need to manage each of these by hand. That's a very tedious maintenance process and will make it harder to quickly and easily update content.

Let's get this in to browser and see what its like

[2015-04-08 16:08] Snugug commented on #116
Always make sure you're referring to the [Content Models](https://github.com/IBM-Watson/design-library/wiki/Content-Models) and thinking about how we go from a representation of our content to the rendered view in a predictable way.

[2015-04-08 16:10] kathrynmcelroy commented on #116
These look great! I really like how you've simplified and clarified the meaning. It's much easier to read and resize as needed. :+1:

[2015-04-08 16:11] britanyponvelle commented on #116
I think we should keep the caption text same color as the others (instead of the teal)

[2015-04-08 16:23] kathrynmcelroy commented on #144
:+1:

[2015-04-08 16:25] una commented on #144
I'd love to see that top logo animate in with @ryanbrownhill's animation :)

[2015-04-08 16:25] britanyponvelle commented on #144
The centered text on this page feels disconnected from the other pages (since we don't center text anywhere else). Also, I don't know if the bolded text in the titles adds value here. Since the text is set in an H tag, I think that could be enough distinction from the body text. Especially in "Meet Watson", because it almost looks like we are recreating the logo with the regular paired with bold H

[2015-04-08 16:29] bobbinrobyn commented on #144
I agree with @britanyponvelle that the centered text is a tad weird. Maybe if there was a fill behind the logo and the "Meet Watson" line, it would feel more like a unified graphic and we could get away with centered text?

Otherwise, content looks good to me.

[2015-04-08 16:30] una commented on #144
I agree with @britanyponvelle about the centered text feeling disjointed (I'm looking at the grey box). Also, I would take a look at the copy used in that grey box for the links. It doesn't give much of an accurate descriptor into the content I am about to click into. What is the difference between the two links and how can we differentiate this? Both of them seem lead me to more information about

[2015-04-08 16:32] britanyponvelle commented on #144
I like the idea of a fill behind the first section (right before the H2). What if it was filled with the same color as the nav box?

[2015-04-08 16:34] bobbinrobyn commented on #144
To @una's point, it might be as simple as replacing "a deep dive" with "additional explanation about". The first link points to explanation, the second link points to actually using Watson.

[2015-04-08 16:36] kathrynmcelroy commented on #144
Agreed on the link description and centered text fixes.

[2015-04-08 16:40] bobbinrobyn commented on #116
Thanks for all the feedback. To @Snugug's point about responsive, that's totally fair. The first round of images I did were designed mobile first, but didn't do well in user testing because they weren't particularly legible. So this second round was an attempt to improve readability. I'm going to try out @britanyponvelle's idea, which I think will work great!

[2015-04-08 16:55] britanyponvelle commented on #159
Blocked because don't have content written for this.

[2015-04-08 17:14] britanyponvelle commented on #139
http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/typography.html

Ready for review!

[2015-04-08 17:53] bobbinrobyn commented on #116
Here's an example of what a sub-principle might look like:

Clarify Watson’s capabilities with hierarchy, copy, and interactions to help set appropriate user expectations.

![p1-01](https://cloud.githubusercontent.com/assets/9341504/7051417/e536ddae-dded-11e4-9561-369a27f661ec.png)

Example: Clarify with content
1. "Remember that Chef Watson eats data, not real food. Use your own judgment when pre

[2015-04-08 17:55] bobbinrobyn commented on #116
Provide intelligent defaults and positive feedback to reinforce cognitive behaviors and gradually adjust the user’s habits.

![p1-04](https://cloud.githubusercontent.com/assets/9341504/7051492/79db7a28-ddee-11e4-8213-d6183f39ef96.png)

Example: Set intelligent defaults
1. Based on the input data, this is a graph comparing REVENUE and TIME.
2. "Choose a different variable to plot."

[2015-04-08 18:35] bobbinrobyn commented on #116
Okay - here are the final images. I'll also drop them in the wiki so you can see them in context.

Introduce Cognitive
![p1-01](https://cloud.githubusercontent.com/assets/9341504/7052399/ff704ac4-ddf3-11e4-816b-c9e1d5ac90c2.png)
![p1-02](https://cloud.githubusercontent.com/assets/9341504/7052401/ff70f474-ddf3-11e4-8620-4abe5346e3ca.png)
![p1-03](https://cloud.githubusercontent.com/assets/9341504/7

[2015-04-08 18:40] britanyponvelle commented on #154
For the intro paragraph:

The IBM Watson wordmark and logotype represents our brand and should be managed carefully. It is typeset in Helvetica Neue to align with IBM standards. When possible, it should be used in all internal and external communications that focus on the IBM Watson brand.

Thoughts?

[2015-04-08 18:46] britanyponvelle commented on #142
Ready for review! http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/wordmark-logotype.html

[2015-04-08 19:32] bobbinrobyn commented on #116
Wiki is updated with the final copy & images: https://github.com/IBM-Watson/design-library/wiki/Design-Principles. @poofichu is going to work with me tomorrow to get it into the prototype and I'll talk to @ryanbrownhill about doing a pull request.

[2015-04-08 19:35] kathrynmcelroy commented on #154
Looks good! I like the new version better.

[2015-04-08 19:35] joshkimmell commented on #116
This looks great! @poofichu any chance of getting this into the prototype before 4pm today?

[2015-04-08 20:26] poofichu commented on #116
Adorable comment @joshkimmell.  This will happen tomorrow.

[2015-04-08 21:51] kathrynmcelroy commented on #124
- What content type is the content on the “Getting Started” page?
- What about the description of the “Design Principles”?

I've created a more thorough modeling of some of the elements. @Snugug do you want me to put that into the wiki or as a comment for you to review first?

[2015-04-08 22:13] Snugug commented on #124
In the wiki please

[2015-04-09 14:47] kathrynmcelroy commented on #124
@Snugug Those first two questions were also for you when you get a chance

[2015-04-09 14:49] Snugug commented on #124
@kathrynmcelroy We may not have a content model for them; they may be a "landing page" content type, or may be something else. Why don't you take a swing at trying to figure it out; if you get stuck LMK

[2015-04-09 15:18] joshkimmell commented on #121
![getting_started_v5](https://cloud.githubusercontent.com/assets/8161298/7070020/c8188402-dea1-11e4-87da-cf8b3fdb2513.jpg)

Another take on this based on some feedback.

[2015-04-09 15:36] kathrynmcelroy commented on #124
Updated the wiki with additional content types in Principles and Guidelines. There are a few questions in there. @Snugug Please review when you have time. Working on landing page next.

[2015-04-09 15:48] britanyponvelle commented on #71
I took another stab at the `aside` and `caption`. The caption needed a little more love (especially for situations where there isn't much text and in it's own column). We need to make sure `aside` , `caption` , and `block-quote` are easily distinguishable, but have similar styles so I've put them next to each other here:

![screen shot 2015-04-09 at 10 39 48 am](https://cloud.githubusercontent.com

[2015-04-09 15:50] joshkimmell commented on #71
@britanyponvelle Which is the `caption` and which is the `aside`?

[2015-04-09 15:51] ryanbrownhill commented on #71
I like this direction! Just to make sure I am understanding these right: The first one is `aside`, second one `block-quote`, & third `caption`

Maybe we should make all the strokes the same weight?

[2015-04-09 15:51] britanyponvelle commented on #71
1. aside
2. block quote
3. aside

[2015-04-09 15:52] britanyponvelle commented on #71
1. aside
2. block quote
3. caption

[2015-04-09 16:08] Snugug commented on #71
So for some definitions, to ensure we're all talking about the same things:

* **aside** - content tangentially related to the content around it
* **blockquote** - direct quoted text from an external source
* **figcaption** - Caption or legend for a parent `figure` element
* **footer** - Metadata about the enclosing section, like who wrote it, links to related docs, copyright data, etc…

[2015-04-09 16:31] britanyponvelle commented on #71
@Snugug yes on my end

[2015-04-09 20:14] britanyponvelle commented on #140
updated visual accessibility example: http://pages.design.ibm.com/blponvel/ibm-watson-design-library/master/dist/accessibility.html

[2015-04-09 21:07] britanyponvelle commented on #121
@joshkimmell are you proposing the logotype in the nav bar and the extended underline?

[2015-04-09 21:11] britanyponvelle commented on #121
@joshkimmell are you proposing the logotype in the nav bar and the extended underline?

A few thoughts:

- I think the orange in the logotype looks off here because IBM and the logo seem like a separate element than "Watson Design Guide."
-  the `aside` treatment makes sense for the links if we don't want it to be the focus of the page, rather additional material.
- The logo on top of "Meet Watson

[2015-04-09 21:28] ryanbrownhill commented on #121
I agree with @britanyponvelle on all those points.

 Specifically I have concern with the current treatment of the "Meet Watson" its too similar to this:
![screen shot 2015-04-09 at 4 25 11 pm](https://cloud.githubusercontent.com/assets/9538395/7077297/41b01d38-ded5-11e4-8882-fdb556eca5f4.png)

What I recommend doing is using the entire logo and have a subtitle under it.

[2015-04-09 21:41] britanyponvelle commented on #121
Maybe "Design Watson Experiences" ?

[2015-04-09 21:44] kathrynmcelroy commented on #124
Updated. @Snugug Please go through and make changes as needed.

[2015-04-09 22:16] britanyponvelle commented on #121
here is a quick mock up of what I mean:
(with the watermark version for the graphic maybe?)

![screen shot 2015-04-09 at 5 11 49 pm](https://cloud.githubusercontent.com/assets/9538528/7078137/170825ce-dedc-11e4-86fb-eff068d15c60.png)
![screen shot 2015-04-09 at 5 11 33 pm](https://cloud.githubusercontent.com/assets/9538528/7078140/19070c6e-dedc-11e4-9b34-f91d6ef488f2.png)

[2015-04-09 22:20] joshkimmell commented on #121
Ooh... I like the direction. Let's talk about this tomorrow.

[2015-04-09 22:20] ryanbrownhill commented on #121
I like where it is headed - I think it's a little too dark - lower the
opacity on it?

On Thursday, April 9, 2015, Britany Ponvelle <notifications@github.com>
wrote:

--
-Ryan G. Brownhill
ryanbrownhill.com
ryanbrownhill@gmail.com

[2015-04-10 13:16] joshkimmell commented on #121
1. I agree with Ryan, maybe match the background color of the left nav?
2. I'm concerned that it's taking up a LOT of space for very little benefit.
3. Would this also be breaking our logo guidelines? Or could be construed as doing this?

![image](https://cloud.githubusercontent.com/assets/8161298/7088510/cc839b40-df59-11e4-96d3-07618135cf67.png)

[2015-04-10 13:36] britanyponvelle commented on #121
For this we would have to use the watermark version (which I don't have, so I just left the logo for now). As I understand it the watermark is meant to be cropped, so this wouldn't be breaking any rules. Agreed that it's taking up quite a bit of space right now. Do you think moving it up would help, or do you think the watermark wouldn't work?

Here is one more idea: (We would use the watermark he

[2015-04-10 13:45] joshkimmell commented on #121
This is interesting! It definitely looks more like a watermark and I like the contrast on the page... it makes the design more interesting. However, it introduces a new theme for the entire site (we shouldn't be creating one-off designs... remember, we're building a design system, so this would change the content model), which is fine if we choose to go in this direction. Would we expand this desi

[2015-04-10 14:06] joshkimmell commented on #121
![getting_started_v6](https://cloud.githubusercontent.com/assets/8161298/7089316/94534836-df60-11e4-85e7-f8646cc2a23d.jpg)

I added a little more color... Also, I feel like the subnav highlight (Teal 60) is too close to the grey body copy, so I changed to Teal 40. Thoughts?

[2015-04-10 14:10] britanyponvelle commented on #121
If we are treating this as in intro page, I think it could be okay to have a hero image here. All of the other elements are the same, so I don't think switching to another page would be confusing.  Just a thought though!

@joshkimmell Teal 40 isn't accessible on the grey 10 background :(

[2015-04-10 14:16] britanyponvelle commented on #121
With light grey instead of the dark:

![screen shot 2015-04-10 at 9 14 19 am](https://cloud.githubusercontent.com/assets/9538528/7089527/1424ad4c-df62-11e4-8c58-66c0d8188d18.png)

The title is more consistent, but the grey looks off next to the side nav. Not a huge fan of this.

[2015-04-10 14:16] joshkimmell commented on #121
Let's talk about what needs to be accessible and what doesn't. The highlight bar (the little vertical teal bar to the left of the nav link) is a design element that I would argue doesn't need to be there, but it adds a small amount of value. I didn't change the text color, which absolutely needs to be accessible.

[2015-04-10 14:21] britanyponvelle commented on #121
Ahhh I see now. I thought you meant you changed both the teal text and the bar to 40. (It's hard to tell from the photo that they are different)

[2015-04-10 14:23] joshkimmell commented on #121
small screen dark and light bg...
![getting_started_v7](https://cloud.githubusercontent.com/assets/8161298/7089676/26546cf4-df63-11e4-9167-6d058666d480.jpg)
![getting_started_v8](https://cloud.githubusercontent.com/assets/8161298/7089677/265b0550-df63-11e4-8074-673dc26e6ff6.jpg)

[2015-04-10 14:29] kathrynmcelroy commented on #121
I agree with Britany, I think we can do a hero image for the Intro page, and it's a pattern we might re-use for the UI Patterns base page (which we will need).

I like the gray a lot better than the black, except it looks like it doesn't work with the small screen bc it's the same color as the navigation..

[2015-04-10 14:37] britanyponvelle commented on #121
I would push for the dark grey in the hero image because the light grey doesn't provide enough contrast between that and the side navigation. The dark could work well on mobile and desktop. My thoughts are if we want to make something different, it should be noticeably different (not just a little) so the users don't get confused about where they are.

[2015-04-10 14:42] bobbinrobyn commented on #121
:+1:

I agree with @britanyponvelle. The dark grey feels like more of a distinct first impression, but it's not so much of a one-off that it looks out of place. I would argue that the purpose of this page is mostly about orienting users to what exactly they're looking at, and I think the contrast of the dark grey helps emphasize that point. It's also the same exact color as the header on all the o

[2015-04-10 14:47] bobbinrobyn commented on #121
I'm a fan of the white type on the dark grey, because the orange type/dark grey fill reminds me so much of Halloween. Yikes. (But maybe that's just me.)

To bring in more orange, I think we could add another heading like we see on all the other pages. Something like this:

"Design Watson Experiences" <-- in white
[insert new heading here] <-- in orange
"IBM Watson is a system of cognitive technolo

[2015-04-10 14:53] kathrynmcelroy commented on #121
Agreed with @bobbinrobyn on the Halloween intro image. Maybe that's why I preferred the lighter gray.

After reading these comments, I agree with going with the darker gray background with white text. :+1:

[2015-04-10 15:31] britanyponvelle opened #163 "Design for UI Patterns Page"

[2015-04-10 15:31] britanyponvelle commented on #163
![wdl-ui-small-20](https://cloud.githubusercontent.com/assets/9538528/7091050/b7c25f76-df6c-11e4-99e0-4b523f73d531.png)

[2015-04-10 15:33] britanyponvelle commented on #163
@kathrynmcelroy @bobbinrobyn  is this section structured like the other sections? Would the title here be "Buttons" instead of "Elements"?

[2015-04-10 15:58] kathrynmcelroy commented on #163
This section will be different. There needs to be an introduction to what UI Patterns are (which is why I mentioned potentially reusing the pattern we create on the Home page), in addition to an intro paragraph at the beginning of the Elements, Components, and Layouts sections to explain what those terms mean.

We will not have the subsections in the nav until we determine how we want to sub-organ

[2015-04-10 16:38] britanyponvelle commented on #163
Ok, I will put this as "blocked" until we sort that out and focus my attention on getting the markdown files for the other pages together.

[2015-04-10 18:14] joshkimmell commented on #121
![getting_started_v9-1](https://cloud.githubusercontent.com/assets/8161298/7094014/92f28b1e-df83-11e4-90ef-2c9627989e07.jpg)
![getting_started_v9-2](https://cloud.githubusercontent.com/assets/8161298/7094013/92f21828-df83-11e4-9197-0f3204f02a6c.jpg)

[2015-04-10 18:31] britanyponvelle commented on #121
:+1:

[2015-04-10 18:53] joshkimmell commented on #121
@channel: can we get some feedback on this today?

[2015-04-10 18:56] britanyponvelle commented on #121
I think the header is looking great! Can we make the space above and below the white text equal?

[2015-04-10 18:56] bobbinrobyn commented on #121
@joshkimmell: I think it looks great! But "Engage your users with cognitive experiences." is different colors on desktop and mobile. Are you going with teal or grey?

[2015-04-10 18:58] joshkimmell commented on #121
Sorry... we're going grey.

[2015-04-10 20:24] kathrynmcelroy commented on #121
I like it overall, but the font weight for "Design Watson Experiences" versus "What is Watson" feels a little unbalanced for hierarchy. Should the former also be an H1 and therefore be bold?

[2015-04-10 21:50] joshkimmell commented on #121
@kathrynmcelroy: I see your point and we can discuss, but it's a hero, not a header, and could therefore be excluded from the "type" hierarchy.

[2015-04-10 22:04] britanyponvelle commented on #121
I agree that the hero image text feels like it is competing against the title since they are the same size. I think "Design Watson Experiences" should be bigger than the title to create clearer hierarchy there?

[2015-04-10 22:08] joshkimmell commented on #121
Yep. I've been playing with that. What do you think?
![getting_started_v10-1](https://cloud.githubusercontent.com/assets/8161298/7098277/286b56a6-dfa4-11e4-8028-7cb016f55ff0.jpg)
![getting_started_v10-2](https://cloud.githubusercontent.com/assets/8161298/7098278/286d0398-dfa4-11e4-9bb5-2445866f8ff7.jpg)

[2015-04-10 22:15] britanyponvelle commented on #121
Yes! Looking great.

[2015-04-10 22:24] kathrynmcelroy commented on #121
Love it! :+1:

[2015-04-13 14:41] bobbinrobyn commented on #121
:+1:

[2015-04-13 14:48] bobbinrobyn commented on #145
@poofichu and I are working on wrapping this up today! Once we have it nailed down, we can format the content from #116 in a markdown file and submit a pull request.

[2015-04-13 15:59] Snugug commented on #124
[code]

[2015-04-13 16:57] bobbinrobyn commented on #124
![screen shot 2015-04-13 at 11 56 28 am](https://cloud.githubusercontent.com/assets/9341504/7120660/33e6f5b2-e1d4-11e4-882f-8f6b8ab917a5.png)

---
type: principle
title: Design Principles
variables:
	principle:
		introduce-cognitive:
			title: Introduce Cognitive
			summary: Give first-time users a set of "cognitive training wheels" and continue to provide unobtrusive support as needed.
		inform-i

[2015-04-13 16:57] bobbinrobyn commented on #124
---
type: principle
title: Design Principles
variables:
	principle:
		introduce-cognitive:
			title: Introduce Cognitive
			summary: Give first-time users a set of "cognitive training wheels" and continue to provide unobtrusive support as needed.
		inform-interactions:
			title: Inform Interactions
			summary: Reduce the complexity of using Watson by informing the user's interactions as they colla

[2015-04-13 17:00] bobbinrobyn commented on #124
@Snugug: This is my .md file so far for the design principles. How am I doing?

[2015-04-13 17:02] bobbinrobyn commented on #124
Also, @Snugug should I be using tabs or spaces?

[2015-04-13 17:04] Snugug commented on #124
@bobbinrobyn So for principles, I think what we'd want something more along the lines of:

[code]

This way we can keep a principle's examples connected to it, and keep the suggestions structured as well.

[2015-04-13 17:05] Snugug commented on #124
Use tabs for now; we can pair later today for me to get you setup with our standard configuration. You can try it yourself if you'd like: In Sublime Text, open up the Command Palette (`cmd+shift+p`), type `install` and hit enter, type `editorconfig` and hit enter, restart Sublime Text.

[2015-04-13 18:25] kathrynmcelroy commented on #124
We need a higher-level Section that will cover the title and description for the "Design Principles" page, similar to the content for each individual "Guideline". This Content Type would also cover the high-level section of "UI Patterns" when we have a description of it before we dive into the sub-sections of Elements, Components, and Layouts.

The model for that high-level section will be the sam

[2015-04-13 18:41] bobbinrobyn commented on #124
@Snugug: Awesome, thanks for the feedback. What is our convention around using single quotes -anytime there's a string, only if there are special characters, etc.?

[2015-04-13 18:55] bobbinrobyn commented on #124
@Snugug: Okay, here's attempt numero dos. Also, as far as I can tell, I already have editorconfig installed. Does that mean I'm good to use tabs?

[code]

[code]

[2015-04-13 19:07] bobbinrobyn commented on #163
@everyone: I'm going to work on writing this content unless someone else has already done it/wants to do it.

[2015-04-13 19:45] poofichu commented on #144
http://pages.design.ibm.com/tremblay-us/ibm-watson-design-library/master/dist/index.html

New homepage coded.

[2015-04-13 19:46] britanyponvelle commented on #124
Here is my attempt at finishing the color guidelines:

[code]

[2015-04-13 20:01] britanyponvelle commented on #144
Great job @poofichu ! Thoughts from @channel about the `aside` box here? I feel like the likes belong in a `resources` box, since that is how we are treating external links on other pages.

[2015-04-13 20:03] bobbinrobyn commented on #163
Here's where I got to:

UI Patterns

This is a collection of customizable, reusable code and documentation that can be used to prototype cognitive applications and build them consistently. It is a starting point of common elements, components, and layouts that can and should be customized; it is not meant to be used as a definitive prescription for how Watson applications should be built. The UI p

[2015-04-13 20:09] joshkimmell commented on #144
@britanyponvelle: I disagree. This is an inline `aside` not a resource. It requires the text around it to give it context.

[2015-04-13 20:21] britanyponvelle commented on #144
@joshkimmell I hear you, that makes sense.
@poofichu The height for the hero image looks good for large screens, but the height on mobile feels a bit tight. (Also the Major Third is 2.441em for that text :) Forgot to send you that before)

[2015-04-13 20:48] bobbinrobyn commented on #163
@everyone: I'd love feedback on this content.

UI Patterns

This is a collection of customizable, reusable code and documentation that can be used to prototype cognitive applications and build them consistently. It is a starting point of common elements, components, and layouts that can and should be customized; it is not meant to be used as a definitive prescription for how Watson applications ar

[2015-04-13 20:51] poofichu commented on #144
Okay, text updated and hero spacing fixed.  Take a look again @britanyponvelle @joshkimmell ?

[2015-04-13 20:59] bobbinrobyn commented on #144
This is maybe just a weird prototype thing – the avatar image floats left with no padding on large screen sizes and floats right with some padding on smaller sizes.

[2015-04-13 21:00] kathrynmcelroy commented on #144
The break point for large to medium forces the main title into two lines before breaking (messing up the nav menu)

![screen shot 2015-04-13 at 4 00 04 pm](https://cloud.githubusercontent.com/assets/5400092/7125416/38211ece-e1f6-11e4-8537-d5388188ff65.png)

[2015-04-13 21:02] bobbinrobyn commented on #160
@joshkimmell: Do you want me to work on this?

[2015-04-13 21:08] kathrynmcelroy commented on #156
For initial release, the main purpose of the 404 page is to redirect the user to one of the three categories. It will be a great place to give just a tiny bit of info about each category to help the user choose where to go next.

Initial designs.
![img_6145](https://cloud.githubusercontent.com/assets/5400092/7125488/d50f6ff6-e1f6-11e4-8573-10c06be4f309.jpg)

Based on our content modeling, and disc

[2015-04-13 21:14] joshkimmell commented on #160
@bobbinrobyn: If you have time for a rough draft, I'm happy to work on it with you.

[2015-04-13 21:19] joshkimmell commented on #156
This looks promising.

[2015-04-13 21:22] poofichu commented on #144
@bobbinrobyn that was intentional
@kathrynmcelroy that's a jQuery thing.  Good catch!  I'll see if I can get it to work, but if not we'll have to move on.

[2015-04-13 21:34] britanyponvelle commented on #144
This looks better! :+1:

[2015-04-14 15:04] poofichu commented on #145
Ready for review!!

[2015-04-14 15:10] poofichu commented on #148
@ryanbrownhill I need an example animation :)

[2015-04-14 15:13] joshkimmell commented on #93
Waiting on Content Model of UI Patterns

[2015-04-14 15:26] bobbinrobyn commented on #161
Rules for naming external URLs on ibm.com – http://w3-03.ibm.com/transform/sas/as-web.nsf/ContentDocsByTitle/External+URL+Naming+Policy

[2015-04-14 15:27] kathrynmcelroy commented on #130
Blocked by Content Modeling for documentation.

[2015-04-14 15:35] joshkimmell opened #164 "Avatar"
Guidelines for avatar, to initially live in Interaction Guidelines.

[2015-04-14 15:39] Snugug commented on #136
Alphabetical for the time being.

[2015-04-14 15:50] britanyponvelle commented on #163
Blocked by #136

[2015-04-14 15:56] bobbinrobyn commented on #144
Two things -
1. I need to give you a new image for the 8th SVG on the page. I goofed up and forgot to take out one of the backgrounds.
2. The nav button on the bottom of the page needs to say something other than "Previous Page: Values"

[2015-04-14 16:00] bobbinrobyn commented on #144
... But it's going to be pretty hard to know what to call the previous page until Josh decides what to call the previous page. #whompwhomp

[2015-04-14 16:01] bobbinrobyn commented on #144
... But it's going to pretty hard to know what to call the previous page until Josh decides what to call the previous page. #whompwhomp

[2015-04-14 16:31] joshkimmell commented on #144
Official name: Introduction

[2015-04-14 17:28] Snugug commented on #124
Looking at these content models:

* Example, Aside, Inline Code Snippet, Block Quote, Example, and Color Swatch aren't stand-alone content types. They are reusable types of content, but they don't ever exist on their own. As such, they need to be referenced from some other content type, or we need to differentiate between stand-alone content types and expected content for a display pattern (which